/**
 *  Stylings for course-section modification UI.
 **/
div.headercontainer {
    height:20px;
   
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B2C7C3C5, endColorstr=#FFFFFF); /* for IE */    
    background-image: -webkit-linear-gradient(top, rgba(250,225,60,0.7), white); /* for webkit browsers */
    background-image: -moz-linear-gradient(top, rgba(250,225,60,0.7), white); /* for firefox 3.6+ */
    text-align: center;
    font-weight: bold;
}

#sections-table .animate-me {
    display: none;
}

#sections-table tr {
    border-bottom: solid 1px #EEE;
}

#sections-table tr.hidden-section {
    background-color: gray;
}
/** This one must come AFTER hidden-section **/
#sections-table tr.delete-section {
    background-color: red;
}

