/**
 *  Stylings for course-section modification UI.
 **/
div.headercontainer {
    height:20px;
   
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B2C7C3C5, endColorstr=#FFFFFF); /* for IE */    
    background-image: -webkit-linear-gradient(top, rgba(250,225,60,0.7), white); /* for webkit browsers */
    background-image: -moz-linear-gradient(top, rgba(250,225,60,0.7), white); /* for firefox 3.6+ */
    text-align: center;
    font-weight: bold;
}

#sections-table .animate-me {
    display: none;
}

#sections-table tr {
    border-bottom: solid 1px #EEE;
}

#sections-table tr.hidden-section {
    /* in 1.9 hidden sections had no indication */
    /* background-color: gray; */
}

#sections-table tr.new-section {
    background-color: #FEE98A;
}

#sections-table tr.new-section-dragging {
    background-color: #FEDE91;
}

/** This one must come AFTER hidden-section **/
#sections-table tr.delete-section {
    background-color: #FFA6A6;
}

#sections-table tr.delete-section-dragging {
    background-color: #FF6161;
}

/** This one should come last **/
#sections-table tr.regular-row-dragging {
    background-color: #AAA;
}

#sections-table tr td img.hidden-handle {
    visibility: hidden;
}

div.modify-course-sections-summary h3 {
    text-align: left;
}
