//
// CCLE / frontpage
// --------------------------------------------------


// Imported CSS
// --------------------------------------------------


/** Front page ribon boxes **/
.ribbon,
.ribbon * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.ribbon {
    font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
    width: 300px;
    margin: 0px 25px 10px 25px;
    padding: 0 10px 4px;
    position: relative;
    color: #444;
    background: #F9F7F8;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    float:left;
    height: 135px;
}
.ribbon h3 {
    font: bold 14px/1.3 "Lucida Grande", arial, sans-serif;
    display: block;
    height: 30px;
    width: 310px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #fff;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #4F5F81;
    border-bottom: 1px solid #4F5F81;
    background: #333;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#64728E), to(#4F5F80));
    background: -webkit-linear-gradient(top, #64728E 0%, #4F5F80 100%);
    background: -moz-linear-gradient(top, #64728E 0%, #4F5F80 100%);
    background: -ms-linear-gradient(top, #64728E 0%, #4F5F80 100%);
    background: -o-linear-gradient(top, #64728E 0%, #4F5F80 100%);
    background: linear-gradient(top, #64728E 0%, #4F5F80 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64728E', endColorstr='#4F5F80'); /* for IE */    
    
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.ribbon h3::before,
.ribbon h3::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #363F51 transparent transparent transparent;    
}
.ribbon h3::before {left: 0;}
.ribbon h3::after {right: 0;}
