/**
 *  Stylesheet for browseby functionality.
 **/

#browsebymain {
    text-align: center;
}

#browsebymain .list0 {
    list-style: none outside none;
    margin: 0;
    padding: 10px 14px 0 0;
    min-width: 295px;
}

#browsebymain .list1 {
    list-style: none outside none;
    margin: 0;
    padding: 10px 14px 0 0;
    min-width: 295px;
    float: left;
}

#browsebymain .flattened-list li {
    display: inline;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

#browsebymain .urlselect {
    margin-bottom: 8px;
}

#browsebymain .browsebylist {
    width: 50%;
    margin: auto;
}

#browsebymain .registrar-link {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
