/**
 *  Stylesheet for browseby functionality.
 **/

#browsebymain {
    text-align: center;
}

#browsebymain .list0 {
    list-style: none outside none;
    padding: 10px 0 0 0;
    margin: 0;
    min-width: 295px;
    width: 100%;
    float: left;
}

#browsebymain .list1 {
    list-style: none outside none;
    padding: 10px 0 0 0;
    margin: 0;
    min-width: 295px;
    width: 50%;
    float: left;
}

#browsebymain .flattened-list li {
    display: inline;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

#browsebymain .urlselect {
    margin-bottom: 8px;
}

#browsebymain .browsebylist {
    margin: auto;
    min-width: 590px;
    width: 780px;
}

#browsebymain .registrar-link {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#browsebycourseslist tbody tr td {
    text-align: left;
}

#browsebymain h3 {
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 8px;
    clear: both;
}

#browsebymain table h3 {
    padding: 0;
    margin-top: 0;
}
