
.syllabus_form .editing_links a {
    color: #FF6666;
    margin-left: 19px;
}

.syllabus_disclaimer {
    font-style: italic;
    text-align: center;
}

.syllabus_help {
    padding-bottom: 1.0em;
}