.syllabus_form fieldset.clearfix {
    background: #FEFCF6;
    border: 1px solid #B7AA96;
}

.syllabus_form fieldset legend {
    width: auto;
    background: #FCE096;
    color: #394A6E;    
    padding: 0 20px;
}

.syllabus_form .fstatic {
    font-style: italic;
}

.no_syllabus {
    font-size: larger;
} 

.syllabus_form .syllabus_help {
    font-style: italic;
}

.syllabus_form .editing_links a {
    color: #FF6666;
    margin-left: 19px;
}

.syllabus_disclaimer {
    font-style: italic;
    text-align: center;
}

.syllabus_form label {
    padding-left: 3pt;
}