/* Make requestid, term, srs, department, course, status, email instructor,
   do not send URL to MyUCLA, delete cells are centered*/
#uclacourserequestor_requests .c0, 
#uclacourserequestor_requests .c1, 
#uclacourserequestor_requests .c2, 
#uclacourserequestor_requests .c3, 
#uclacourserequestor_requests .c4, 
#uclacourserequestor_requests .c8, 
#uclacourserequestor_requests .c9, 
#uclacourserequestor_requests .c10, 
#uclacourserequestor_requests .c11 {
    text-align: center;
}

#uclacourserequestor_notice {
    color: #c00;
    text-align: center;
}

#tool_uclacourserequestor #checkrequests {
    margin-left: 5px;
}

#tool_uclacourserequestor .right {
    float: right;     
}

#tool_uclacourserequestor h2.main {
    text-align: left;
    
}
