#vidfurn-wrapper span.courseHdrSecondary {
font-size: .8em;
display: block;
font-weight: bold;
margin: 3px 2px 20px 0;
color: #9f9f9f;
}

#vidfurn-wrapper span.courseHdrSecondary a {
font-size: .9em;
}
