/*
 * ---------------------------------------------------------------------------------------------------------------------
 *
 * This file is part of the Course Menu block for Moodle
 *
 * The Course Menu block for Moodle software package is Copyright 2008 onwards NetSapiensis AB and is provided under
 * the terms of the GNU GENERAL PUBLIC LICENSE Version 3 (GPL). This program is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU
 * General Public License as published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version. This program is distributed in the hope that
 * it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 * PARTICULAR PURPOSE.
 *
 * See the GNU General Public License for more details. You should have received a copy of the GNU General Public
 * License along with this program.
 * If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------------------------------------------------------
 */

.block_ucla_course_menu .block_tree .active_tree_node {font-weight:normal}

.block_ucla_course_menu .module_elements_section {
    background-color: #EFEFEF;
    margin: -1px -14px 0px -14px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.block_ucla_course_menu.block .content {
    padding-left:0px;
    padding-right:0px;
}

.block_ucla_course_menu .content .block_tree.list .type_structure,
.block_ucla_course_menu .content .block_tree.list .type_activity,
.block_ucla_course_menu .content .block_tree.list .type_custom {
    border-bottom: 1px solid #FFF;
}

.block_ucla_course_menu .content .block_tree.list .type_structure p,
.block_ucla_course_menu .content .block_tree.list .type_activity p,
.block_ucla_course_menu .content .block_tree.list .type_custom p {
    margin: 0;
    margin-left: 3px;
}

.block_ucla_course_menu .content .block_tree.list li.type_structure:hover,
.block_ucla_course_menu .content .block_tree.list li.type_custom:hover {
    background-color: #FFB300;
}

.block_ucla_course_menu .content .block_tree.list li.type_structure.current_branch {
    background-color: #FFB300;
}

.block_ucla_course_menu .content .block_tree.list li.type_activity:hover {
    background-color: rgb(200,200,200);
}

.block_ucla_course_menu .content {padding:0px 4px;background-color:#DFE7F4;}
.block_ucla_course_menu .content a {display:block;width:100%;}
.block_ucla_course_menu .content a:hover {text-decoration:none;} 

/** CCLE-2380 Rearrange Materials Link **/
.block_ucla_course_menu .edit_control_links {
    background-color: #D1DBEF;
    text-align: center;    
}
.block_ucla_course_menu .edit_control_links a {
    color: #FF6666;
    font-weight: normal;
}

.block_ucla_course_menu_hidden {
    background-color: #DBDEE5;
}

.block_ucla_course_menu_hidden:hover {
    background-color: #FFD26B;
}

.block_ucla_course_menu_hidden > a:first-child {
    color: #A6ACBA;
}
