/* line 30, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure, .block_ucla_course_menu .block .list .type_structure, .block .block_ucla_course_menu .list .type_structure,
.block_ucla_course_menu .block_tree .type_custom,
.block_ucla_course_menu .block .list .type_custom,
.block .block_ucla_course_menu .list .type_custom,
.block_ucla_course_menu .block_tree .type_activity,
.block_ucla_course_menu .block .list .type_activity,
.block .block_ucla_course_menu .list .type_activity {
  border: 0;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0;
  border-left: 4px solid #f9f9f9;
  display: block;
}
/* line 37, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure .tree_item, .block_ucla_course_menu .block .list .type_structure .tree_item, .block .block_ucla_course_menu .list .type_structure .tree_item,
.block_ucla_course_menu .block_tree .type_custom .tree_item,
.block_ucla_course_menu .block .list .type_custom .tree_item,
.block .block_ucla_course_menu .list .type_custom .tree_item,
.block_ucla_course_menu .block_tree .type_activity .tree_item,
.block_ucla_course_menu .block .list .type_activity .tree_item,
.block .block_ucla_course_menu .list .type_activity .tree_item {
  padding: 8px 8px;
  margin: 0;
}
/* line 42, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure .tree_item img, .block_ucla_course_menu .block .list .type_structure .tree_item img, .block .block_ucla_course_menu .list .type_structure .tree_item img,
.block_ucla_course_menu .block_tree .type_custom .tree_item img,
.block_ucla_course_menu .block .list .type_custom .tree_item img,
.block .block_ucla_course_menu .list .type_custom .tree_item img,
.block_ucla_course_menu .block_tree .type_activity .tree_item img,
.block_ucla_course_menu .block .list .type_activity .tree_item img,
.block .block_ucla_course_menu .list .type_activity .tree_item img {
  display: none;
}
/* line 49, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure .tree_item.block_ucla_course_menu_hidden a, .block_ucla_course_menu .block .list .type_structure .tree_item.block_ucla_course_menu_hidden a, .block .block_ucla_course_menu .list .type_structure .tree_item.block_ucla_course_menu_hidden a,
.block_ucla_course_menu .block_tree .type_custom .tree_item.block_ucla_course_menu_hidden a,
.block_ucla_course_menu .block .list .type_custom .tree_item.block_ucla_course_menu_hidden a,
.block .block_ucla_course_menu .list .type_custom .tree_item.block_ucla_course_menu_hidden a,
.block_ucla_course_menu .block_tree .type_activity .tree_item.block_ucla_course_menu_hidden a,
.block_ucla_course_menu .block .list .type_activity .tree_item.block_ucla_course_menu_hidden a,
.block .block_ucla_course_menu .list .type_activity .tree_item.block_ucla_course_menu_hidden a {
  color: #aaa;
}
/* line 50, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure .tree_item.block_ucla_course_menu_hidden a:after, .block_ucla_course_menu .block .list .type_structure .tree_item.block_ucla_course_menu_hidden a:after, .block .block_ucla_course_menu .list .type_structure .tree_item.block_ucla_course_menu_hidden a:after,
.block_ucla_course_menu .block_tree .type_custom .tree_item.block_ucla_course_menu_hidden a:after,
.block_ucla_course_menu .block .list .type_custom .tree_item.block_ucla_course_menu_hidden a:after,
.block .block_ucla_course_menu .list .type_custom .tree_item.block_ucla_course_menu_hidden a:after,
.block_ucla_course_menu .block_tree .type_activity .tree_item.block_ucla_course_menu_hidden a:after,
.block_ucla_course_menu .block .list .type_activity .tree_item.block_ucla_course_menu_hidden a:after,
.block .block_ucla_course_menu .list .type_activity .tree_item.block_ucla_course_menu_hidden a:after {
  content: "hidden";
  margin-left: 8px;
  color: #aaa;
  padding: 0 4px;
  display: inline-block;
  border: 1px solid #cccccc;
  font-weight: normal;
  vertical-align: middle;
  font-size: 1.2rem;
  background-color: #f9f9f9;
  line-height: 1.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 57, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure.current_branch, .block_ucla_course_menu .block .list .type_structure.current_branch, .block .block_ucla_course_menu .list .type_structure.current_branch,
.block_ucla_course_menu .block_tree .type_custom.current_branch,
.block_ucla_course_menu .block .list .type_custom.current_branch,
.block .block_ucla_course_menu .list .type_custom.current_branch,
.block_ucla_course_menu .block_tree .type_activity.current_branch,
.block_ucla_course_menu .block .list .type_activity.current_branch,
.block .block_ucla_course_menu .list .type_activity.current_branch {
  border-left-color: #4168a1;
  background-color: white;
}
/* line 61, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure.current_branch a, .block_ucla_course_menu .block .list .type_structure.current_branch a, .block .block_ucla_course_menu .list .type_structure.current_branch a,
.block_ucla_course_menu .block_tree .type_custom.current_branch a,
.block_ucla_course_menu .block .list .type_custom.current_branch a,
.block .block_ucla_course_menu .list .type_custom.current_branch a,
.block_ucla_course_menu .block_tree .type_activity.current_branch a,
.block_ucla_course_menu .block .list .type_activity.current_branch a,
.block .block_ucla_course_menu .list .type_activity.current_branch a {
  color: #4168a1;
}
/* line 63, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure.current_branch .tree_item, .block_ucla_course_menu .block .list .type_structure.current_branch .tree_item, .block .block_ucla_course_menu .list .type_structure.current_branch .tree_item,
.block_ucla_course_menu .block_tree .type_custom.current_branch .tree_item,
.block_ucla_course_menu .block .list .type_custom.current_branch .tree_item,
.block .block_ucla_course_menu .list .type_custom.current_branch .tree_item,
.block_ucla_course_menu .block_tree .type_activity.current_branch .tree_item,
.block_ucla_course_menu .block .list .type_activity.current_branch .tree_item,
.block .block_ucla_course_menu .list .type_activity.current_branch .tree_item {
  border-bottom: 1px solid #dddddd;
}
/* line 68, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure:hover, .block_ucla_course_menu .block .list .type_structure:hover, .block .block_ucla_course_menu .list .type_structure:hover,
.block_ucla_course_menu .block_tree .type_custom:hover,
.block_ucla_course_menu .block .list .type_custom:hover,
.block .block_ucla_course_menu .list .type_custom:hover,
.block_ucla_course_menu .block_tree .type_activity:hover,
.block_ucla_course_menu .block .list .type_activity:hover,
.block .block_ucla_course_menu .list .type_activity:hover {
  border-left-color: #4168a1;
}
/* line 77, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure.item_with_icon .tree_item.leaf, .block_ucla_course_menu .block .list .type_structure.item_with_icon .tree_item.leaf, .block .block_ucla_course_menu .list .type_structure.item_with_icon .tree_item.leaf {
  display: inline-block;
  width: 100%;
  padding: 8px;
}
/* line 84, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure.item_with_icon .leaf:after, .block_ucla_course_menu .block .list .type_structure.item_with_icon .leaf:after, .block .block_ucla_course_menu .list .type_structure.item_with_icon .leaf:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e080";
  float: right;
  color: #ddd;
  vertical-align: middle;
  line-height: 1.2;
}
/* line 93, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_structure.item_with_icon.current_branch .leaf:after, .block_ucla_course_menu .block .list .type_structure.item_with_icon.current_branch .leaf:after, .block .block_ucla_course_menu .list .type_structure.item_with_icon.current_branch .leaf:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e080";
  float: right;
  color: #4168a1;
  vertical-align: middle;
  line-height: 1.2;
}
/* line 106, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom, .block_ucla_course_menu .block .list .type_custom, .block .block_ucla_course_menu .list .type_custom,
.block_ucla_course_menu .block_tree .type_activity,
.block_ucla_course_menu .block .list .type_activity,
.block .block_ucla_course_menu .list .type_activity {
  border-left: 0;
}
/* line 109, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom .tree_item, .block_ucla_course_menu .block .list .type_custom .tree_item, .block .block_ucla_course_menu .list .type_custom .tree_item,
.block_ucla_course_menu .block_tree .type_activity .tree_item,
.block_ucla_course_menu .block .list .type_activity .tree_item,
.block .block_ucla_course_menu .list .type_activity .tree_item {
  padding-right: 0;
}
/* line 112, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom .tree_item a, .block_ucla_course_menu .block .list .type_custom .tree_item a, .block .block_ucla_course_menu .list .type_custom .tree_item a, .block_ucla_course_menu .block_tree .type_custom .tree_item a:link, .block_ucla_course_menu .block .list .type_custom .tree_item a:link, .block .block_ucla_course_menu .list .type_custom .tree_item a:link, .block_ucla_course_menu .block_tree .type_custom .tree_item a:visited, .block_ucla_course_menu .block .list .type_custom .tree_item a:visited, .block .block_ucla_course_menu .list .type_custom .tree_item a:visited,
.block_ucla_course_menu .block_tree .type_activity .tree_item a,
.block_ucla_course_menu .block .list .type_activity .tree_item a,
.block .block_ucla_course_menu .list .type_activity .tree_item a,
.block_ucla_course_menu .block_tree .type_activity .tree_item a:link,
.block_ucla_course_menu .block .list .type_activity .tree_item a:link,
.block .block_ucla_course_menu .list .type_activity .tree_item a:link,
.block_ucla_course_menu .block_tree .type_activity .tree_item a:visited,
.block_ucla_course_menu .block .list .type_activity .tree_item a:visited,
.block .block_ucla_course_menu .list .type_activity .tree_item a:visited {
  display: inline;
}
/* line 119, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom .leaf:before, .block_ucla_course_menu .block .list .type_custom .leaf:before, .block .block_ucla_course_menu .list .type_custom .leaf:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e144";
  float: left;
  color: #4168a1;
  vertical-align: middle;
  top: 2px;
  line-height: 1.2;
  margin-right: 4px;
}
/* line 124, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom .library-research-portal.leaf:before, .block_ucla_course_menu .block .list .type_custom .library-research-portal.leaf:before, .block .block_ucla_course_menu .list .type_custom .library-research-portal.leaf:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e135";
  float: left;
  color: #4168a1;
  vertical-align: middle;
  top: 2px;
  line-height: 1.2;
  margin-right: 4px;
}
/* line 129, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom .library-reserve-link.leaf:before, .block_ucla_course_menu .block .list .type_custom .library-reserve-link.leaf:before, .block .block_ucla_course_menu .list .type_custom .library-reserve-link.leaf:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e043";
  float: left;
  color: #4168a1;
  vertical-align: middle;
  top: 2px;
  line-height: 1.2;
  margin-right: 4px;
}
/* line 134, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom .subject-area-link.leaf:before, .block_ucla_course_menu .block .list .type_custom .subject-area-link.leaf:before, .block .block_ucla_course_menu .list .type_custom .subject-area-link.leaf:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\1f516";
  float: left;
  color: #4168a1;
  vertical-align: middle;
  top: 2px;
  line-height: 1.2;
  margin-right: 4px;
}
/* line 139, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom .bruincast-link.leaf:before, .block_ucla_course_menu .block .list .type_custom .bruincast-link.leaf:before, .block .block_ucla_course_menu .list .type_custom .bruincast-link.leaf:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e059";
  float: left;
  color: #4168a1;
  vertical-align: middle;
  top: 2px;
  line-height: 1.2;
  margin-right: 4px;
}
/* line 143, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_custom .video-furnace-link.leaf:before, .block_ucla_course_menu .block .list .type_custom .video-furnace-link.leaf:before, .block .block_ucla_course_menu .list .type_custom .video-furnace-link.leaf:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e009";
  float: left;
  color: #4168a1;
  vertical-align: middle;
  top: 2px;
  line-height: 1.2;
  margin-right: 4px;
}
/* line 150, sass/styles.scss */
.block_ucla_course_menu .block_tree .type_activity .leaf:before, .block_ucla_course_menu .block .list .type_activity .leaf:before, .block .block_ucla_course_menu .list .type_activity .leaf:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e012";
  float: left;
  color: #4168a1;
  vertical-align: middle;
  top: 2px;
  line-height: 1.2;
  margin-right: 4px;
}

/* line 165, sass/styles.scss */
.block.block_ucla_course_menu:not(.block_ucla_browseby) .header {
  display: none;
}

/* line 171, sass/styles.scss */
.block.block_ucla_course_menu {
  text-align: center;
}
/* line 174, sass/styles.scss */
.block.block_ucla_course_menu .content {
  padding: 0;
}
/* line 178, sass/styles.scss */
.block.block_ucla_course_menu .block_tree, .block.block_ucla_course_menu .list {
  text-align: left;
}
/* line 180, sass/styles.scss */
.block.block_ucla_course_menu .block_tree .active_tree_node, .block.block_ucla_course_menu .list .active_tree_node {
  font-weight: bold;
}
/* line 183, sass/styles.scss */
.block.block_ucla_course_menu .block_tree a, .block.block_ucla_course_menu .list a, .block.block_ucla_course_menu .block_tree a:link, .block.block_ucla_course_menu .list a:link, .block.block_ucla_course_menu .block_tree a:visited, .block.block_ucla_course_menu .list a:visited {
  color: #0072b1;
  vertical-align: middle;
  display: inline-block;
  width: 90%;
}
/* line 190, sass/styles.scss */
.block.block_ucla_course_menu .block_tree a:hover, .block.block_ucla_course_menu .list a:hover {
  text-decoration: none;
}
/* line 198, sass/styles.scss */
.block.block_ucla_course_menu li.type_structure:hover {
  background-color: #fcfcfc;
}
/* line 202, sass/styles.scss */
.block.block_ucla_course_menu li.type_structure {
  background-color: #f9f9f9;
}

/* line 4, sass/_editing.scss */
.edit-controls {
  margin-bottom: 12px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  /* line 4, sass/_editing.scss */
  .edit-controls {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* line 4, sass/_editing.scss */
  .edit-controls {
    width: 100%;
  }
}

/* line 17, sass/_editing.scss */
.edit-control-links > a:link,
.edit-control-links > a:visited,
.edit-control-links > a {
  color: white;
  display: inline;
}
/* line 21, sass/_editing.scss */
.edit-control-links > a:link:hover,
.edit-control-links > a:visited:hover,
.edit-control-links > a:hover {
  text-decoration: none;
}
/* line 26, sass/_editing.scss */
.edit-control-links .badge {
  margin-left: 8px;
  background-color: white;
  color: black;
}
