/*
    Required include for modules
*/
/* 360px is iPhone vertical */
/* 480px is iPhone horizontal */
/* 768px is iPad horizontal */
/* 1024px is iPad vertical */
/* line 10, sass/styles.scss */
.block_tree .type_structure, .block .list .type_structure {
  border: 0;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0;
  border-left: 4px solid #f9f9f9;
  background-color: #F9F9F9;
  display: block;
}
/* line 18, sass/styles.scss */
.block_tree .type_structure .tree_item, .block .list .type_structure .tree_item {
  padding: 8px 8px;
  /*margin: 2px 0;*/
  margin: 0;
}
/* line 23, sass/styles.scss */
.block_tree .type_structure .tree_item img, .block .list .type_structure .tree_item img {
  display: none;
}
/* line 28, sass/styles.scss */
.block_tree .type_structure .tree_item.block_ucla_course_menu_hidden a, .block .list .type_structure .tree_item.block_ucla_course_menu_hidden a {
  color: #aaa;
}
/* line 29, sass/styles.scss */
.block_tree .type_structure .tree_item.block_ucla_course_menu_hidden a:after, .block .list .type_structure .tree_item.block_ucla_course_menu_hidden a:after {
  content: "hidden";
  margin-left: 8px;
  color: #aaa;
  padding: 0 4px;
  display: inline-block;
  border: 1px solid #cccccc;
  font-weight: normal;
  vertical-align: middle;
  font-size: 1.2rem;
  background-color: #f9f9f9;
  line-height: 1.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 36, sass/styles.scss */
.block_tree .type_structure.current_branch, .block .list .type_structure.current_branch {
  border-left-color: #4168a1;
  background-color: white;
}
/* line 40, sass/styles.scss */
.block_tree .type_structure.current_branch a, .block .list .type_structure.current_branch a {
  color: #4168a1;
}
/* line 42, sass/styles.scss */
.block_tree .type_structure.current_branch .tree_item, .block .list .type_structure.current_branch .tree_item {
  border-bottom: 1px solid #dddddd;
}
/* line 47, sass/styles.scss */
.block_tree .type_structure:hover, .block .list .type_structure:hover {
  border-left-color: #4168a1;
}

/* line 58, sass/styles.scss */
.block.block_ucla_course_menu {
  text-align: center;
}
/* line 61, sass/styles.scss */
.block.block_ucla_course_menu .content {
  padding: 0;
}
/* line 65, sass/styles.scss */
.block.block_ucla_course_menu .header {
  display: none;
}
/* line 69, sass/styles.scss */
.block.block_ucla_course_menu .block_tree, .block.block_ucla_course_menu .list {
  text-align: left;
}
/* line 71, sass/styles.scss */
.block.block_ucla_course_menu .block_tree .active_tree_node, .block.block_ucla_course_menu .list .active_tree_node {
  font-weight: bold;
}
/* line 74, sass/styles.scss */
.block.block_ucla_course_menu .block_tree a, .block.block_ucla_course_menu .list a, .block.block_ucla_course_menu .block_tree a:link, .block.block_ucla_course_menu .list a:link, .block.block_ucla_course_menu .block_tree a:visited, .block.block_ucla_course_menu .list a:visited {
  color: #0072b1;
  line-height: 3.5rem;
  vertical-align: middle;
  display: inline-block;
  width: 90%;
}
/* line 82, sass/styles.scss */
.block.block_ucla_course_menu .block_tree a:hover, .block.block_ucla_course_menu .list a:hover {
  text-decoration: none;
}
/* line 90, sass/styles.scss */
.block.block_ucla_course_menu .item_with_icon .tree_item.leaf {
  display: inline-block;
  width: 100%;
  padding: 0 8px;
}
/* line 95, sass/styles.scss */
.block.block_ucla_course_menu .item_with_icon .leaf:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e080";
  float: right;
  color: #ddd;
  line-height: 3.2rem;
  vertical-align: middle;
}
/* line 103, sass/styles.scss */
.block.block_ucla_course_menu .item_with_icon.current_branch .leaf:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e080";
  float: right;
  color: #4168a1;
  line-height: 3.2rem;
  vertical-align: middle;
}
/* line 114, sass/styles.scss */
.block.block_ucla_course_menu li.type_structure:hover {
  background-color: #fcfcfc;
}

/* line 4, sass/_editing.scss */
.edit-controls {
  margin-bottom: 12px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  /* line 4, sass/_editing.scss */
  .edit-controls {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* line 4, sass/_editing.scss */
  .edit-controls {
    width: 100%;
  }
}

/* line 17, sass/_editing.scss */
.edit-control-links > a:link,
.edit-control-links > a:visited,
.edit-control-links > a {
  color: white;
  display: inline;
}
/* line 21, sass/_editing.scss */
.edit-control-links > a:link:hover,
.edit-control-links > a:visited:hover,
.edit-control-links > a:hover {
  text-decoration: none;
}
/* line 26, sass/_editing.scss */
.edit-control-links .badge {
  margin-left: 8px;
  background-color: white;
  color: black;
}
