
/* GENERAL BLOCK STYLE OVERRIDES */
#ucla-alert {
    background-color: #FAFAF8;
    border: 1px solid #EBEBE2;
}

#ucla-alert .content {
    background-color: #FAFAF8;
    padding: 0;
    color: #463A45;
}

/* BOUNDARY BOX -- GENERAL BOX */
#ucla-alert .content .box-boundary {
    display: block;
    padding: 4px;
}

#ucla-alert .box-boundary.divider {
    border-bottom: 1px solid #E9EBDF;
}

/* HEADER BOX -- FOR MAIN SITE*/
#ucla-alert .content .header-box {
    padding: 4px 0;
    text-align: center;
}

#ucla-alert .header-box {
    background-color: #88B851;
    text-shadow:1px 1px 3px #465E2A;
}


#ucla-alert .header-title {
    color: white;
    font-size: 1.7em;
    font-family: Impact, Gill Sans, sans-serif;
    text-transform: uppercase;
}

#ucla-alert .header-subtitle {
    color: white;
}

/* GENERAL FORMATTING */
#ucla-alert .box-title {
/*    display: inline-block;*/
    font-weight: bold;
    line-height: 1em;
    margin: 4px 0;
    text-transform: uppercase;
}

#ucla-alert .box-text {
    margin: 2px 0;
    margin-left: 4px;
    
}

#ucla-alert .box-section {
    border-top: 1px solid #E9EBDF;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: -0.3pt;
    padding-top: 4px;
    text-transform: uppercase;
}

#ucla-alert .box-link,
#ucla-alert .box-list {
    border-left: 5px solid #4A87BD;
    padding-left: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
}