@charset "UTF-8";
/* line 1, sass/_edit.scss */
#ucla-alert-edit {
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin: 10px;
  zoom: 1;
}

/* line 7, sass/_edit.scss */
#ucla-alert-edit:after {
  display: block;
  clear: both;
  visibility: hidden;
  content: '.';
  height: 0;
}

/* line 8, sass/_edit.scss */
#ucla-alert-edit ul {
  border: 1px solid #cdcdcd;
  margin: 5px;
  width: 200px;
  min-height: 200px;
  float: left;
  padding: 0;
  zoom: 1;
  position: relative;
  padding-top: 30px;
  border-radius: 4px 4px 4px 4px;
}

/* line 20, sass/_edit.scss */
#ucla-alert-edit ul li {
  background-image: none;
  list-style-type: none;
  padding-left: 20px;
  padding: 5px;
  margin: 5px;
  cursor: move;
  zoom: 1;
  position: relative;
}

/* line 32, sass/_edit.scss */
.alert-edit-section ul li.list1,
#ucla-alert-edit ul li.list1 {
  background-color: #8DD5E7;
  border: 1px solid #004c6d;
}

/* line 36, sass/_edit.scss */
#ucla-alert-edit ul li.list2 {
  background-color: #EDFF9F;
  border: 1px solid #cdcdcd;
}

/* line 43, sass/_edit.scss */
.alert-edit-header,
.alert-edit-section {
  border: 1px solid #cdcdcd;
  display: block;
  float: left;
  width: auto;
  margin: 10px;
}

/* line 50, sass/_edit.scss */
.alert-edit-header {
  margin: 0;
  border: 0;
  border-right: 1px solid #cdcdcd;
  min-height: 600px;
}

/* line 56, sass/_edit.scss */
.alert-edit-header .header-box {
  margin: 5px;
}

/* line 59, sass/_edit.scss */
#ucla-alert-edit .block-ucla-alert .box-section-title {
  border-top: 0;
  padding: 4px 8px 0 8px;
}

/* line 65, sass/_edit.scss */
.alert-edit-header ul li.alert-edit-item,
.alert-edit-section ul li.alert-edit-item {
  background-color: #FAFAF8;
  border: 1px dashed gray;
  margin: 5px;
}

/* line 71, sass/_edit.scss */
#ucla-alert-edit ul:after {
  background-color: #F5F5F5;
  border: 1px solid #dddddd;
  border-radius: 4px 0 4px 0;
  content: "Section content";
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
  font-weight: bold;
  font-size: .9em;
  color: #9DA0A4;
}

/* line 86, sass/_edit.scss */
.alert-edit-text-box {
  border: 1px solid #cdcdcd;
  padding: 5px;
  background-color: white;
  display: none;
}

/* line 92, sass/_edit.scss */
.alert-edit-textarea {
  border: 0;
  width: 100%;
}

/* line 96, sass/_edit.scss */
.alert-edit-button-box {
  border-top: 1px solid #cdcdcd;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: -2px;
  background-color: white;
  text-align: right;
}

/* line 106, sass/_edit.scss */
.alert-edit-header .alert-edit-header-wrapper .alert-edit-text-box {
  margin: 5px;
  border: 5px solid #88b851;
}

/* line 110, sass/_edit.scss */
.alert-edit-header .alert-edit-text-box.alert-header-yellow {
  border-color: #EDB83D;
}

/* line 113, sass/_edit.scss */
.alert-edit-header .alert-edit-text-box.alert-header-red {
  border-color: #E17D68;
}

/* line 116, sass/_edit.scss */
.alert-edit-header .alert-edit-text-box.alert-header-blue {
  border-color: #47BCBB;
}

/* line 121, sass/_edit.scss */
.block-ucla-alert .header-box.header-selected {
  border: 10px solid white;
}

/* line 124, sass/_edit.scss */
.block-ucla-alert .header-box.header-selected:before {
  color: white;
  content: '✔';
  font-size: 1em;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: relative;
  top: -1px;
}

/* line 136, sass/_edit.scss */
.alert-edit-commit-box {
  width: 100%;
  display: block;
  float: left;
  clear: both;
  text-align: right;
  border-top: 1px solid #dddddd;
  padding: 10px;
  background-color: #F9F9F9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 150, sass/_edit.scss */
.alert-edit-scratch-add {
  border-top: 1px solid #dddddd;
  margin: 5px;
  padding: 5px;
  display: block;
  clear: left;
}

/* line 157, sass/_edit.scss */
.alert-edit-add {
  width: 100%;
}

/* line 162, sass/_edit.scss */
.alert-block-edit-on-btn {
  width: 80%;
}

/* line 165, sass/_edit.scss */
.region-content .ucla-alert .content .box-boundary.alert-block-edit-on-box {
  text-align: center;
  border-top: 1px solid #ebebe2;
  padding-bottom: 0;
  padding-top: 4px;
}

/* line 174, sass/_edit.scss */
.edit-alert-tutorial {
  width: 100%;
  padding: 8px;
  border-top: 1px solid #dddddd;
  display: block;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 184, sass/_edit.scss */
.edit-alert-tutorial h1 {
  margin-bottom: 4px;
}

/* line 188, sass/_edit.scss */
.edit-alert-tutorial .edit-alert-tutorial-summary {
  margin-bottom: 8px;
}

/* line 192, sass/_edit.scss */
.edit-alert-tutorial .edit-alert-tutorial-summary span {
  background-color: #F5F5F5;
  border: 1px solid #dddddd;
  padding: 0 6px;
  border-radius: 4px 4px 4px 4px;
}

/* line 199, sass/_edit.scss */
.edit-alert-tutorial div.box-boundary {
  width: 200px;
  float: left;
  border: 1px solid #dddddd;
  margin: 5px;
  padding: 4px;
  position: relative;
  padding-top: 30px;
  border-radius: 4px 0 4px 0;
}

/* line 210, sass/_edit.scss */
.edit-alert-tutorial div.box-boundary:after {
  background-color: #F5F5F5;
  border: 1px solid #dddddd;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Tutorial";
  font-size: 0.9em;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}

/* line 226, sass/_edit.scss */
.banner-alert-header {
  clear: both;
  display: inline-block;
  width: 178px;
}

/* line 231, sass/_edit.scss */
.banner-ucla-alert {
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 239, sass/_edit.scss */
.banner-ucla-alert-content {
  background-color: #FAFAF8;
  border: 1px solid #ebebe2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.067);
}

/* line 244, sass/_edit.scss */
.banner-alert-section {
  clear: both;
  display: inline-block;
  vertical-align: top;
}

/* line 249, sass/_edit.scss */
.banner-alert-section .box-boundary {
  display: inline-block;
}

/* line 252, sass/_edit.scss */
.banner-alert-section .box-section-title {
  display: none;
}

/* line 255, sass/_edit.scss */
.banner-alert-section .box-boundary .box-text {
  font-size: 1.1em;
  line-height: 1.1em;
  color: #463A45;
  margin-top: 4px;
}

/* line 263, sass/_edit.scss */
.alert-item-expires {
  border-top: 1px solid #cccccc;
}

/* line 269, sass/_edit.scss */
.region-content .ucla-alert .content .box-boundary,
#ucla-alert .content .box-boundary {
  display: block;
  padding: 4px;
  padding-top: 0;
}

/* line 276, sass/_edit.scss */
.region-content .ucla-alert .box-boundary.divider,
#ucla-alert .box-boundary.divider {
  border-bottom: 1px solid #e9ebdf;
}

/* line 283, sass/_edit.scss */
.block-ucla-alert .header-box,
.region-content .ucla-alert .content .header-box {
  padding: 4px 0;
  text-align: center;
}

/* line 288, sass/_edit.scss */
.block-ucla-alert .header-box {
  background-color: #88B851;
  min-height: 30px;
  text-shadow: 1px 1px 3px #648a38;
}

/* line 296, sass/_edit.scss */
.block-ucla-alert .header-box.alert-header-yellow {
  background-color: #EDB83D;
  text-shadow: 1px 1px 3px #cd9513;
}

/* line 300, sass/_edit.scss */
.block-ucla-alert .header-box.alert-header-red {
  background-color: #E17D68;
  text-shadow: 1px 1px 2px #d64f33;
}

/* line 304, sass/_edit.scss */
.block-ucla-alert .header-box.alert-header-blue {
  background-color: #47BCBB;
  text-shadow: 1px 1px 3px #389998;
}

/* line 309, sass/_edit.scss */
.block-ucla-alert .header-box.alert-header-empty {
  background-color: #D1DBEF;
  text-shadow: 1px 1px 3px #6083c8;
}

/* line 313, sass/_edit.scss */
.block-ucla-alert .content .header-box.alert-header-empty {
  display: none;
}

/* line 319, sass/_edit.scss */
.block-ucla-alert .header-title,
.region-content .ucla-alert .header-title {
  color: white;
  font-size: 1.7em;
  font-family: Impact, Gill Sans, sans-serif;
  text-transform: uppercase;
  line-height: 1.1em;
  padding-top: 5px;
}

/* line 329, sass/_edit.scss */
.block-ucla-alert .header-subtitle,
.region-content .ucla-alert .header-subtitle {
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

/* line 5, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box,
.frontpage-alert .header-box {
  border-bottom: 1px solid #dddddd;
  border-top: 8px solid #88b851;
  padding: 4px 0;
}
/* line 10, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box .header-title,
.frontpage-alert .header-box .header-title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0;
}
/* line 13, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box .header-subtitle,
.frontpage-alert .header-box .header-subtitle {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.9rem;
  margin: 0;
  color: #666;
}
/* line 17, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box + .box-boundary,
.frontpage-alert .header-box + .box-boundary {
  padding: 4px 0;
}
/* line 20, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box + .box-boundary .box-title,
.frontpage-alert .header-box + .box-boundary .box-title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #eeeeee;
  padding: 2px 0;
  margin-bottom: 2px;
}
/* line 34, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box.alert-header-blue,
.frontpage-alert .header-box.alert-header-blue {
  border-top-color: #389998;
}
/* line 34, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box.alert-header-red,
.frontpage-alert .header-box.alert-header-red {
  border-top-color: #d64f33;
}
/* line 34, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box.alert-header-green,
.frontpage-alert .header-box.alert-header-green {
  border-top-color: #88b851;
}
/* line 34, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert .header-box.alert-header-yellow,
.frontpage-alert .header-box.alert-header-yellow {
  border-top-color: #edb83d;
}
/* line 40, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert > .box-boundary .box-section-title,
.frontpage-alert > .box-boundary .box-section-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.9rem;
  margin: 0;
  border-top: 2px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 4px 0;
  margin-bottom: 8px;
}
/* line 49, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert > .box-boundary .box-section-title ~ .box-boundary .box-title,
.frontpage-alert > .box-boundary .box-section-title ~ .box-boundary .box-title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #eeeeee;
  padding: 2px 0;
  margin-bottom: 2px;
}
/* line 57, sass/_frontpage.scss */
block_ucla_alert.block.block-ucla-alert.ucla-alert > .box-boundary .box-section-title ~ .box-boundary .box-link,
.frontpage-alert > .box-boundary .box-section-title ~ .box-boundary .box-link {
  border-left: 4px solid #389998;
  padding-left: 4px;
  margin: 2px 0;
}

/* line 22, sass/styles.scss */
.box-boundary {
  margin-bottom: 8px;
}
/* line 25, sass/styles.scss */
.box-boundary .box-section-title {
  font-weight: bold;
  text-transform: uppercase;
}
