//
// CCLE / site admin
// --------------------------------------------------

// Normalize all admin page headers 
h2.headingblock {
    @include ccle-admin-header;
}

#addadmisform > h3.main {
    @include ccle-admin-header;
    margin-bottom: 8px;
}


// Modifies the course admin menu to be a little more clickable...
// @todo: this could be better...
@media only screen and (max-width: $breakpoint-xsmall),
only screen and (min-width: $breakpoint-xsmall) and (max-width: $breakpoint-medium-small) {
    .block_tree li ul li.type_setting {
        border-bottom: 1px solid $ccle-light-blue;
        height: 34px;
        padding-top: 5px;
        display: inline-block;
        width: 100%;
    }
    
    .block_tree li ul li.type_setting > p > a {
        width: 100%;
        display: inline-block;
    }
}


.external-link {
    padding-right: 15px;
    padding-bottom: -2px;
    background: transparent url([[pix:theme|external]]) no-repeat center right;
}


//
// Admin / Course / Category browser
//

// CCLE-4258: add visual cue to indicate term on categories course lists.
// This will handle terms until 2022!
.admin {
    
    // Terms we want to cover, with term code
    $terms: (
        fall F,
        winter W,
        spring S,
        summer 1
    );
    
    // Iterate through terms
    @each $term in $terms {
        $name: nth($term, 1);
        $code: nth($term, 2);
        
        // Generate values for 10 years after 2012
        @for $i from 12 to 22 {
            a[data-name^="#{$i}#{$code}"]:before {
                @extend .label-term;
                @extend .label-#{$name};
                content: "#{$name} #{$i}";
            }
        }
    }
}