//
// CCLE / frontpage
// --------------------------------------------------


.frontpage-banner {
    background: url([[pix:theme|ccle-banner-1]]) no-repeat;
    background-position: 70% 10%;
    height: 1000px;
    border-right: 1px solid #ddd;
        
    @include respond-to(tablets) {
        height: 300px;
        
        .frontpage-shared-server {
            .shared-server-list {
                display: none;
            }
            li {
                float: left;
                display: inline;
                width: 30%;
            }
        }
    }
}

.frontpage-shared-server {
    position: absolute;
    bottom: 0;
    padding: 4px;
    color: white;
    padding-left: 16px;
    background-color: #444;
    opacity: 0.8;
    
    width: 100%;
    
    .server-link {
        cursor: pointer;
    }
    .shared-server-list {
        display: block;
        color: #ddd;
        li {list-style: none};
    }
}

.frontpage-navigation {
    margin-bottom: 20px;
    
    button {
        display: inline-block;
        white-space: normal;
        width: 90%;
        text-align: left;
        
        @include respond-to(tablets) {
            width: auto;
        }
    }
    
    h3 {
        /*border-bottom: 1px solid #333;*/
    }
}

.frontpage-search {
    margin-top: 20px;
    margin-bottom: 20px;
    
    .as-collab-checkbox {display: none;}
    .as-input-wrapper {

    }
    .input-group-btn .btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .yui3-aclist-content {
        box-shadow: 0 0 0 ;
        /*border: 0;*/
    }
}

.frontpage-alert {
    margin-bottom: 20px;
}

////
// structural fixes for the frontpage layout
.frontpage-layout + br {
    display: none;
}

.front-page:not(.editing) {
    #page-content .region-content {padding-top: 0; padding-bottom: 0}
    
    // Hide frontpage blocks
    .block-region,
    .weeks-display {
        display: none;
    }
    
    // Structural fixes
    &.side-pre-only #page-content #region-main {
        margin-left: 0;
    }
    #page-content #region-main {
        margin-left: 0;
    }
    
    #page-content #region-post-box {
        margin-left: -200px;
    }
}

.front-page.editing {
    #page-header {position: relative}
}

