/* give 'Defined in config.php' message a little more visual weight */
#adminsettings .form-overridden {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.adminsearchform {
    text-align: center;
}