/* give 'Defined in config.php' message a little more visual weight */
#adminsettings .form-overridden {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.adminsearchform {
    text-align: center;
}

table.rolecap {margin-left: auto;margin-right: auto;}
table.rolecap tr.rolecap th {text-align: left;font-weight: normal;}
.rolecaps th {
    color: black !important;
}