/*body {margin: 0; min-height: 95%;}
body.has_dock {margin-left:30px;}*/
/*body, div, p, li, input, option, textarea {font-size: 10pt; line-height: 1.5em;}*/
/*body, div, p, li, input, option, textarea, h1, h2, h3, h4, h5 {font-family:Arial; font-family: Georgia,Times,"Times New Roman",serif;}*/
/*h1.main, h2.main, h3.main, h4.main, h5.main, h6.main {text-align: center;}*/
.generalbox {padding: 10px; margin-bottom: 15px;}
.userinfobox {margin-left: auto; margin-right: auto;}
#notice.generalbox {margin-left: auto; margin-right: auto; width: 60%;}
/*.notifyproblem {padding: 10px; color: #660000; text-align: center;}*/
/*.notifysuccess {padding: 10px; color: #006600; text-align: center;}*/
/*.paging {text-align: center;}*/
/*h1, h2, h3 {margin: 0;}*/

/**
 * Themes
 */
/*#page-admin-theme-index .generalbox {border: none;background: none;}
.theme_screenshot {float: left; width: 300px;}
.theme_screenshot img {width: 275px;}
.theme_screenshot h2 {font-size: 2em; margin-top: 0;}
.theme_screenshot h3 {font-size: 0.9em; margin: 1em 0 0;}
.theme_screenshot p {font-size: 0.9em; margin: 0 0 1em;}
.theme_description {margin-left: 300px;}
.theme_description h2 {padding-top: 0.5em;}*/

/* Message for unsupported browsers.  Needs to load early in CSS parser */
.unsupported-browser {
    width: 100%;
    background-color: #fae692;
    padding: 10px 100px;
    border-bottom: 1px solid #444;
}
    
.unsupported-browser .container {
    padding: 10px 50px;
    background: url([[pix:theme|ie-notice]]) no-repeat;
}