/* When deubgging with performance profiling is turned on the next is normally 
 * hard to read. This styling will give the text more room so that it is visible
 */
#page-footer .performanceinfo {text-align:center;margin-top:2.5em;margin-bottom:0}
#page-footer .purgecaches {text-align:center;}
#page-footer .purgecaches a {
    color: #A3BFFD; 
    font-weight:bold;    
}
#helppopupbox {
    max-height:300px;
    overflow:auto;
}
 
.errorcode {display:none}

/* Formatting for UCLA Course Requestor */
.mform .fitem fieldset.felement {margin-left:0%;padding-left:1%;margin-bottom:0}

/* CCLE-3533 - fixing activity/resource picker text wrap */
.choosercontainer #chooseform .option span.typename {
    display: inline-block;
    width: 160px;
}