/* When deubgging with performance profiling is turned on the next is normally 
 * hard to read. This styling will give the text more room so that it is visible
 */
#page-footer .performanceinfo {text-align:center;margin-top:2.5em;margin-bottom:0}
#page-footer .purgecaches {text-align:center;}
#page-footer .purgecaches a {
    color: #A3BFFD; 
    font-weight:bold;    
}
#helppopupbox {
    max-height:300px;
    overflow:auto;
}
 
.errorcode {display:none}

.userenrolment tbody td {
    border-right: 1px solid #dddddd;
    
    padding-left: 3pt;
    padding-right: 3pt;
}

table.userenrolment  {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    width: 100%;
    margin-bottom: 18px;
    /* borrowed from bootstrap table */
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapsed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

table.userenrolment thead {
    background: #EFEFEF;
    color: #666;
}

table.userenrolment th, 
table.userenrolment td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
}

table.userenrolment tbody tr:nth-child(odd) td,
table.userenrolment tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

table.userenrolment tbody td span {
    margin-right: 10px;
}