
img.icon,
img.iconhelp {vertical-align:middle;}

html, body {background-color:#FFF; height:100%;}
#page {height:100%;background-color:transparent;margin:0 auto;}
/*#page #page-content {background-color:#FFF; height:auto;}*/


#dock {
    background: url([[pix:theme|dock_bg]]);
}


/** General **/
/*.generalbox {border: 1px solid #DDDDDD;}*/
/*.generaltable td {border-width:0;}
.sitetopic {border-width:0;}*/
/*.headingblock,*/
/*h2.main {
    margin-bottom:10px;
    border-bottom:1px solid #AFC5F0;    
    border-top:1px solid #AFC5F0;
    background-color:#D1DBEF;
    padding:5px;
    color:#394A6E;
    font-size:18px;
    text-align: left;
}*/
/*.headingblock div {
    font-size:0.8em;
    font-weight:normal;
    color:#494949
}*/

/*
.coursebox {width:100%;margin:10px 0px;border-bottom:1px solid #E3E3E3;overflow:hidden;padding-bottom:10px;}
.coursebox .info {width:35%;float:left;}
.coursebox .summary {width:60%;float:right;}

#course-user .section {border:1px solid #DDD;margin:0 5% 1.5em 5%;}

#course-user .section h2,
#course-user .section .content {margin:5px 1em;}
#course-user .section table td {border:0;}*/

/** Error **/
.box.errorbox {
    background-color: #C00;
    color: white;
    border-top: 1px solid #c99;
    border-bottom: 1px solid #c99;    
    padding: 10px;
    margin: 1em 15%;
}
.errorbox a {  /* make error link text with enough contrast */
    color: white;
    text-decoration: underline;
}

.generalbox {
    border: 1px solid #ccc;
}

/** Notice **/
/*.box.noticebox, #notice.generalbox {
    background-color: #FF9;
    border-bottom: 1px solid #FC3;
    border-top: 1px solid #FC3;
    color: black;
    padding: 10px;
    margin: 1em 15%;
}
.noticebox a, #notice.generalbox a {   make notice link with enough contrast 
    color: black;
    text-decoration: underline;
}
.noticebox .generalbox {
    border: none;
    margin: 0;
    padding: 0;
}
.noticebox .generalbox .buttons {
    margin: 0;
}*/

/** Success **/
.box.successbox, .notifysuccess {
    background-color: #E2F9E3;
    border-bottom: 1px solid #9C9;
    border-top: 1px solid #9C9;
    color: #060;
    padding: 10px;
    margin: 1em 15%;
}
.successbox a, .notifysuccess a {  /* make success link with enough contrast */
    color: black;
    text-decoration: underline;
}

.continuebutton {
    text-align: center;
}

/** Login **/
.loginbox {margin-top:15px;margin-bottom:15px;}
.loginbox .loginform {margin-top:15px;}
.loginbox .loginform .form-label {width:39%;float:left;text-align:right;}
.loginbox .loginform .form-input {width:60%;float:right;text-align:left;}
.loginbox .loginform .form-input input {width:6em;}

.loginbox.twocolumns {border:1px solid #DDD;}
.loginbox.twocolumns .loginpanel {float:left;width:49%;text-align:center;}
.loginbox.twocolumns .signuppanel {float:left;width:50%;border-left:1px solid #DDD;}
.loginbox.twocolumns .signuppanel h2 {text-align:center;}
.loginbox.twocolumns .signuppanel div {margin:1em;}
.loginbox.twocolumns .signuppanel div li {font-size:90%;}

.loginbox .loginsub {margin-left:10%;margin-right:10%;padding:10px;margin-bottom:5px;}
.loginbox .guestsub {margin-left:10%;margin-right:10%;padding:10px;margin-bottom:5px;border-top:1px solid #DDD;}


#authmenu .informationbox {width:80%;margin-left:auto;margin-right:auto;margin-bottom:10px;border:1px solid #C8C9C7;padding:10px;}
#authmenu table td {border-width:0px;}

#categoryquestions {margin-left:auto;margin-right:auto;width:100%;}
/*
#categoryquestions th,
.user th,
.user th.header,
.group th.header,
.admin table tr th,
.admin table tr th.header,
.path-report-rolescapabilities table tr th {
    background-color: #697F55 !important;
    color: #FFF !important;
    border: 2px solid #697F55;
    border-bottom-color: #111;
}
.user th a:link,
#categoryquestions th a:link,
.group  th a:link,
.admin table tr th a:link,
.path-report-rolescapabilities table tr th a:link {color:#FFF;text-decoration:none;}

.user th a:visited,
#categoryquestions th a:visited,
.group th a:visited,
.admin table tr th a:visited,
.path-report-rolescapabilities table tr th a:visited {color:#FFF;text-decoration:underline;}

.user tr td.cell,
#categoryquestions tr td.cell,
.group tr td.cell,
.admin table tr td.cell,
.path-report-rolescapabilities table tr td.cell {border:1px solid #C8C9C7;border-width:0px 1px;}

.user .r1 .cell,
#categoryquestions .r1 .cell,
.group .r1 .cell,
.admin table .r1 .cell,
.path-report-rolescapabilitiestable table .r1 .cell {background-color:#EEE;}

.admin .plugincompattable .r1 .cell {background-color:#FFF;}*/

/*.singlebutton,
.buttons {text-align:center;margin:20px;}
.buttons form {display:inline;}
.buttons div {display:inline;}
.buttons .singlebutton {display:inline;padding:5px;margin:0px;}
.admin .generalbox {background-color:#EEE;border-color:#C8C9C7;}*/

#admin-mnet-index table td,
#files-index .column-content table td {border-width:0px;}

/** Mforms **/
/*.mform fieldset {border-color:#C8C9C7;}*/

/** Tags **/
.tag-management-form {text-align:center;}
#tag-management-list {margin-top:1em;}

/** User **/
.userinfobox td {border-width:0px;vertical-align:top;}
.userinfobox .side {width:120px;text-align:center;}
.userinfobox .list .label {font-weight:bold;text-align:right;}


/** User **/
.user .rolesform,
.user .searchform,
.user #showall,
.user #participantsform {text-align:center;}
.user #participantsform table {margin-top:1em;}
.user #participantsform td {text-align:left;}
.user table.controls {margin:5px auto;border:1px solid #DDD;background-color:#EEE;border-collapse: collapse;}
.user table.controls td {border-width:0px;}

/** Overide for RTL layout **/
.dir-rtl #page-header .navbar .breadcrumb {float:right;}
.dir-rtl #page-header .navbar .navbutton {float:left;}

/* Banner notice on pilot to indicate place to get help */
/* corner banner */
/*
CCLE-3141 - Prepare for post M2 deployment
Turning off style, but leaving it here in case we need to reenable it in the future
#topleftcornerbanner {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 85px;
    width: 85px;
    background: url([[pix:theme|pilot_help_banner]]) no-repeat;
    text-indent: -999em;
    text-decoration: none;
}
.headermain {
    margin-left: 2.0em !important;
}*/

/* CCLE-2993 - Shorten textarea for intro/description field */
/*#id_introeditor, #id_introeditor_tbl, #id_intro {
    height:150px;    
    width: 275px;    only applicable for intro forms that don't use TinyMCE 
}*/



.notify	{
    background: #FFFF00;
    color: #FF3399 !important;
    font-size: 0.8em !important;
    padding: 0 2px;
}

/* MAINTENANCE MODE MESSAGE STYLE */
#page-maintenance-message .region-content h2{
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}


#page-mod-wiki-create .req, #page-mod-wiki-create .fstaticlabel,
#page-mod-wiki-create .fdescription, #page-mod-wiki-create #fitem_id_pageformat_html {
    display: none;
}
#page-mod-wiki-create #fitem_id_pagetitle {
    color: black;
    font-weight: bold;
}