/* 
    Print only CSS

    This will remove the side blocks, the header and grayscale elements on page.
*/

* {
    background-color: white !important;
    background-image: none !important;
    color: black !important;
    border-color: #999 !important;
}

#page-content #region-post, 
#page-content #region-pre,
#page-header {
    display: none !important;
}

.side-pre-only #page-content #region-main,
#page-content #region-main  {
    margin-left: 0 !important;
}
