@import "uclatheme";

.supportconsole label {
  padding-right: 5px;
  padding-left: 5px;
}

#log-action-types {
  list-style-type: none;
}

#syllabusreoport .c1, #syllabusreoport .c2, #syllabusreoport .c3 {
  text-align: center;
}


.supportconsole {
    .main {
        margin-bottom: 8px;
    }
}
