#helppopupbox {
    max-height:300px;
    overflow:auto;
}
 
.errorcode {display:none}

/* CCLE-3533 - fixing activity/resource picker text wrap */
.choosercontainer #chooseform .option span.typename {
    display: inline-block;
    width: 160px;
}