div#block_ucla_copyright_status_filter, div#block_ucla_copyright_status_id_cp_list, span#block_ucla_copyright_status_t1{
    margin:10px 2px 20px 0;
}

#block_ucla_copyright_status_stat,
#block_ucla_copyright_status_stat legend{
    background-color: #f9f9f9;
}

.block-ucla-copyright-status-stat-num-red{
    padding-left:5px;
    color:red;
}

.block-ucla-copyright-status-stat-num{
    padding-left:5px;
    color: green;
}

.block-ucla-copyright-status-list{
    margin-top:5px;
}

.block-ucla-copyright-status-save-button{
    padding-left: 1%;
    text-align:left;
}

.block-ucla-copyright-status-red-text-item{
    color:red;
}

#block-ucla-copyright-status-noscript{
    margin-left:100px;
    color:red;
    font-weight:bold;
}

.ucla-copyright-status-alert-form .fgroup_id_alert_buttons {
    display: inline;
}
.ucla-copyright-status-alert-form > fieldset {
    margin: 0;
}
.ucla-copyright-status-alert-form.mform > fieldset > div {
    margin: 0;
}

/* CCLE-4127 limit copyright select's width in moodle filepicker */
.fp-setlicense select {
    width: 100%;
}