div#block_ucla_copyright_status_filter, div#block_ucla_copyright_status_id_cp_list, span#block_ucla_copyright_status_t1{
    margin:10px 2px 20px 0;
}

#block_ucla_copyright_status_stat{
    background: #FEFCF6;
    border: 1px solid #B7AA96;    
}
#block_ucla_copyright_status_stat legend {
    width: auto;
    background: #FCE096;
    color: #394A6E;    
    padding: 0 20px;
    font-weight: bold;
    margin-left: 0.5em;    
}

.block-ucla-copyright-status-stat-num-red{
    padding-left:5px;
    color:red;
}

.block-ucla-copyright-status-stat-num{
    padding-left:5px;
    color: green;
}

.block-ucla-copyright-status-list{
    margin-top:5px;
}

.block-ucla-copyright-status-save-button{
    padding-left: 1%;
    text-align:left;
}

.block-ucla-copyright-status-red-text-item,
.block-ucla-copyright-status-no-files{
    color:red;
}

#block-ucla-copyright-status-noscript{
    margin-left:100px;
    color:red;
    font-weight:bold;
}

/* ucla bootstrap table */
#copyright_status_table {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    width: 100%;
    margin-bottom: 18px;
    /* borrowed from bootstrap table */
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapsed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    clear:both;
}

#copyright_status_table thead {
    background: #EFEFEF;
    color: #666;
}

#copyright_status_table th, 
#copyright_status_table td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
}

#copyright_status_table tbody tr:nth-child(odd) td,
#copyright_status_table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

#copyright_status_table tbody td span {
    margin-right: 10px;
}
