/*General css*/

.general_font table {
    font-family:Lucida Grande,Verdana,Arial,sans-serif;
    font-size:11px;
}

.general_font  {
    font-family:Lucida Grande,Verdana,Arial,sans-serif;
    font-size:11px;
}

    
fieldset{
    border:none;    
}

.LargeLabel_Width {
    float:left;
    width:200px;
}

.LargeCheckbox_Width {
    display:block;
    float:left;
    margin-left:200px;
}

.TextRegular_Right {
    font-size:11px;
    text-align:right;
    padding-right:15px;
}

.TextComment {
    font-size:11px;
    color: #555555;
    font-style: italic;
}



.AlignRight{
    margin-left:215px   
    
}
.Padding_100px {
    
    margin-left:100px;
}
.Padding_50px {
    
    margin-left:50px;
}

label.Padding_50px{
    font-size:11px;
    text-align:right;
    margin-left:50px;
    padding-right:15px;
}

.Padding_MaxUser {
    margin-left:157px;
    _margin-left:165px;/*IE*/
}

h1
{
    font-size:12px; 
}

.hideElement
{
    display:none !important;
}

.required
{
    color:red;
}

.subPart
{
    padding-top:20px;
    _padding-top:15px;
}

.SubOption
{
    margin-left:235px;
}

/*headerBar*/
.headerBar
{
    position:relative;
    width: 700px;
    background-image: url( "../lib/web/pictures/backgrounds/headerbar.png" );
    height : 32px;
    border-bottom: solid 1px Black;
}

.headerBarRight
{
    position:absolute;
    right:10px;
    top:5px;
}
.headerBarRight select
{
    font-family:Lucida Grande,Verdana,Arial,sans-serif;
    font-size:11px;
    width:110px;
}

.headerBarLeft
{
    position:absolute;
    left:10px;
}

.headerBarLeft span{
    background:transparent url("../lib/web/pictures/items/headerbar-logo.png" ) no-repeat scroll top right;
    behavior: url("lib/web/js/lib/iepngfix/iepngfix.htc");
    display:block;
    width:80px;
    height:25px;
    text-indent:-9999px;
    
}

/* ---BUTTONS ----------------------------------------------- */
/*                                                            */
/*  For regular, contextual and toolbar buttons               */
/*                                                            */
/*----------------------------------------------------------- */

/* --- Button list style --- */
ul.regular_btn_list, ul.contextual_bar, ul.toolbar_list, ul.toolbar-labels {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.contextual_bar {
    background: url("../lib/web/pictures/contextual_btn/contextual_bar.png") repeat-x;
    height: 28px;
}

ul.toolbar_list {
    background: url("../lib/web/pictures/toolbar_btn/toolbar.png") repeat-x;
    height: 62px;
    padding: 0 5px 0 5px;
    float:left;
 }

ul.toolbar-labels {
    background: url("../lib/web/pictures/toolbar_btn/toolbar-labels.png") repeat-x;
    height: 78px;
    padding: 0 5px 0 5px;
}


ul.regular_btn_list li, ul.contextual_bar li, ul.toolbar_list li, ul.toolbar-labels li {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}


/* --- Buttons font style --- */
ul.contextual_bar a, ul.regular_btn_list a, 
.regular_btn, .regular_btn-disabled, .regular_btn-submit, .regular_btn-submit-disabled,  .regular_btn
.contextual_btn, .contextual_btn-disabled, .contextual_btn-submit,  .contextual_btn-submit-disabled
{
    font-size: 11px !important;
    font-family: Lucida Grande,Verdana,Arial,sans-serif !important;
    font-weight: bold !important;
    text-decoration: none !important;
    text-align:center;
    white-space:nowrap;
    border: 0;

}

ul.toolbar a, ul.toolbar input, ul.toolbar-labels a, ul.toolbar-labels input, .toolbar_btn, .toolbar_btn-disabled {
    text-decoration: none;
    text-align:center;
    white-space:nowrap;
    color: black;
    border: 0;
}


/* --- Buttons sizing --- */
.regular_btn, .regular_btn-disabled, .regular_btn-submit, .regular_btn-submit-disabled,
.contextual_btn, .contextual_btn-disabled, .contextual_btn-submit, .contextual_btn-submit-disabled, 
.toolbar_btn, .toolbar_btn-disabled {
    display:block;
    float:left;
    border: 0;
    margin: 0;
}

.regular_btn, .regular_btn-disabled, .regular_btn-submit, .regular_btn-submit-disabled {
    height: 20px;
}

.contextual_btn, .contextual_btn-disabled, .contextual_btn-submit, .contextual_btn-submit-disabled {
    height: 28px;
}

.toolbar_btn, .toolbar_btn-disabled {
    height: 48px;
}


/* --- Buttons layout --- */
.regular_btn, .regular_btn-disabled {
    background: transparent url("../lib/web/pictures/regular_btn/regular_btn-right.png") no-repeat scroll top right;
    padding-right: 5px; /* sliding doors padding */
}

.regular_btn span, .regular_btn-disabled span {
    background: transparent url("../lib/web/pictures/regular_btn/regular_btn-left.png") no-repeat;
    display: block;
    line-height: 10px;
    width : 110px;/* added to inify the size*/
    text-align:center;
    padding: 5px 5px 5px 10px;
}

.regular_btn-submit, .regular_btn-submit-disabled {
    background: transparent url("../lib/web/pictures/regular_btn/regular_btn-submit.png") no-repeat left top;
    width: 120px;
    line-height: 10px;
    padding: 0px 10px 0px 10px;
}

.contextual_btn, .contextual_btn-disabled {
    background: transparent url("../lib/web/pictures/contextual_btn/contextual_btn-right.png") no-repeat scroll top right;
    padding-right: 10px; /* sliding doors padding */
}

.contextual_btn span, .contextual_btn-disabled span {
    background: transparent url("../lib/web/pictures/contextual_btn/contextual_btn-left.png") no-repeat;
    display: block;
    line-height: 14px;
    padding: 7px 0 7px 10px;
}

.contextual_btn-submit, .contextual_btn-submit-disabled {
    background: transparent url("../lib/web/pictures/contextual_btn/contextual_btn-submit.png") no-repeat left top;
    width: 100px;
    line-height: 14px;
    padding: 7px 10px 7px 10px;
}

.regular_btn-submit,.regular_btn, .contextual_btn-submit, .toolbar_btn a, .toolbar_btn input {
    cursor: pointer;
    cursor: hand;
    color: #404E58 !important; /* W6 */
    text-decoration:none;
}


.toolbar_btn a, .toolbar_btn-disabled span, .toolbar_btn input, .toolbar_btn-disabled input {
    background: transparent url("../lib/web/pictures/toolbar_btn/squared_btn.png") no-repeat top right;
    width: 48px;
    height: 48px;
    display: block;
    margin: 6px 0 8px 0; 
    _padding-top:48px;
    _height : 0px;
    outline: none;
}
 
.toolbar_btn>a, .toolbar_btn-disabled>span, .toolbar_btn>input, .toolbar_btn-disabled>input {
    line-height:114px;
}
   
 
ul.toolbar .toolbar_btn a, ul.toolbar .toolbar_btn-disabled span, ul.toolbar .toolbar_btn input, ul.toolbar .toolbar_btn-disabled input {
    overflow: hidden;  /* Disables button labels display */
}


/* --- Buttons Rollover state --- */
.regular_btn a:hover, .regular_btn:hover, .regular_btn-submit:hover, .toolbar_btn a:hover {
    text-shadow: 0px 0px 1px #A8B2BF;  /* W4 */
}

.contextual_btn a:hover, .contextual_btn:hover, .contextual_btn-submit:hover {
    text-shadow: 0px 1px 1px #F2F3F9;  /* W2 */
}


/* --- Buttons Clicked state --- */
.regular_btn:active, .regular_btn-submit:active, .contextual_btn:active, .contextual_btn-submit:active {
    background-position: center right;
}

.regular_btn:active span {
    background-position: center left;
    padding: 6px 5px 4px 10px; /* push text down 1px */
}

.regular_btn-submit:active  {
    padding: 2px 10px 0px 10px; /* push text down 1px */
}

.contextual_btn:active span {
    background-position: center left;
    padding: 8px 0 6px 10px; /* push text down 1px */
}

.contextual_btn-submit:active  {
    padding: 8px 10px 6px 10px; /* push text down 1px */
}

.toolbar_btn a:active, .toolbar_btn input:active {
    background-position: 0px -96px;
    /* background-position: right center; doesn't work on IE! */
}

.toolbar_btn a.activities_btn:active {
    background-position: 10px -96px !important ;
    /* background-position: right center; doesn't work on IE! */
}

/* --- Buttons Disabled state --- */
.regular_btn-disabled span, .contextual_btn-disabled span {
    background-position: left bottom;
}

.regular_btn-disabled, .regular_btn-submit-disabled {
    background-position: right bottom;
    color: CCCCCC!important; /* W5 */
    cursor: default;
    outline: none;
}

.contextual_btn-disabled, .contextual_btn-submit-disabled {
    background-position: right bottom;
    color: #CCCCCC!important; /* W5 */
    cursor: default;
}

.toolbar_btn-disabled {
    color: #CCCCCC!important; /* W5 */
    cursor: default;
}

/* ------ BOX ----------------------------------------------- */
/*                                                            */
/*  For dialogs and lightboxes                                */
/*                                                            */
/* ---------------------------------------------------------- */
  
div.wimba_box {
    float: left;
    display:block; 
    /* DEFINE HERE YOUR WIDTH AND HEIGHT ATTRIBUTES */
    width:300px;
    height:500px;
}


.wimba_boxTopTitle {
    display:block;
    width:200px;
    height:20px;

    text-align: left;
    color: #404E58;  /* W6 */
    font-size: 13px;
    border-bottom-color: #404E58;  /* W6 */
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.wimba_boxText{
    text-align: center;
    color: #404E58;  /* W6 */
    font-size: 12px;
}

div.wimba_boxTop, div.wimba_boxBottom, div.wimba_boxTop-shadow, div.wimba_boxBottom-shadow {
    display:block;
}
    
    
/* --- Without a shadow --- */     
div.wimba_boxTop { 
    background: transparent url("../lib/web/pictures/box/no_shadow/400/box-top-right.png") no-repeat scroll top right;
}

div.wimba_boxTop div { 
    padding: 18px 18px 8px 18px;
    background: transparent url("../lib/web/pictures/box/no_shadow/400/box-top-left.png") no-repeat;
}

div.wimba_boxBottom { 
    background: transparent url("../lib/web/pictures/box/no_shadow/400/box-bottom-right.png") no-repeat scroll top right;
}

div.wimba_boxBottom div { 
    background: transparent url("../lib/web/pictures/box/no_shadow/400/box-bottom-left.png") no-repeat;
    height: 10px; 
}   
    
    
/* --- With a shadow --- */  
div.wimba_boxTop-shadow, div.wimba_boxBottom-shadow {
    margin-left: 22px;  // fixes div background alpha overlay problem 
}     
    
div.wimba_boxTop-shadow div, div.wimba_boxBottom-shadow div { 
    margin-left: -22px;  // fixes div background alpha overlay problem 
}   
    
div.wimba_boxTop-shadow { 
    background: transparent url("../lib/web/pictures/box/no_shadow/400/box-top-right.png") no-repeat scroll top right;
   
}

div.wimba_boxTop-shadow div {
    padding: 30px 30px 8px 30px;
    background: transparent url("../lib/web/pictures/box/no_shadow/400/box-top-left.png") no-repeat;
    
}

div.wimba_boxBottom-shadow { 
    background: transparent url("../lib/web/pictures/box/no_shadow/400/box-bottom-right.png") no-repeat scroll top right; 
   
}

div.wimba_boxBottom-shadow div { 
    background: transparent url("../lib/web/pictures/box/no_shadow/400/box-bottom-left.png") no-repeat;
   
    height: 22px;
}

.wimba_close_box {
    behavior: url("lib/web/js/lib/iepngfix/iepngfix.htc");
    display:block;
    float:right;
    top:150px;
    height:16px;
    text-indent:-9999px;
    width:16px;
    margin-top:-30px;
}

.opac 
{
    z-index:2 !important;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:#000;
    filter:alpha(opacity=33);
    -moz-opacity:.33;
    opacity:.33;
}

/*Error */
.error_title{
    font-weight: bold;
    font-size: 14pt;
    margin-left:150px;
    display:block;
}

.warning{  
    background:transparent url("../lib/web/pictures/items/warning.png" ) no-repeat scroll top left;
    behavior: url("lib/web/js/lib/iepngfix/iepngfix.htc");
    display:block;
    text-indent:-9999px;
    height:60px;
    width:60px;
}

/* Config page */
.config_title{
    background:transparent url("../lib/web/pictures/items/Wlogo-W_only-60.png" ) no-repeat scroll top left;
    behavior: url("lib/web/js/lib/iepngfix/iepngfix.htc");
    display:block;
    font-weight: bold;
    text-indent:60px;
    padding-top:10px;
    font-size: 16pt;
    height:60px;
    color:#3c4b5b;
}