#page-admin-tool-uclasupportconsole-index h3,
#page-admin-tool-uclasupportconsole-index h2 {
    text-align: left;
}

.supportconsole .uclaconsole {
    clear: both;
    margin-left: 12px;
}

.supportconsole label {
    padding-right: 5px;
    padding-left: 5px;
}

#log-action-types {
    list-style-type: none;
}