/* line 3, sass/styles.scss */
.supportconsole label {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 8, sass/styles.scss */
#log-action-types {
  list-style-type: none;
}

/* line 12, sass/styles.scss */
#syllabusreoport .c1, #syllabusreoport .c2, #syllabusreoport .c3 {
  text-align: center;
}

/* line 18, sass/styles.scss */
.supportconsole .main {
  margin-bottom: 8px;
}
