/** General display rules **/

.enrol_invitation_item_icon {
    padding-right: 5px;
}

#page-enrol-invitation-invitation .role-name {
    font-weight: bold;
    padding-left: 0.5em;
}

#page-enrol-invitation-invitation #id_email {
    width: 50%;
}

#page-enrol-invitation-invitation #id_subject {
    width: 99%;
}

#page-enrol-invitation-invitation #id_message {
    width: 99%;
    height: 6.0em;
}

#page-enrol-invitation-invitation #fitem_id_message .helplink {
    display: block;
}

#page-enrol-invitation-invitation .role_type_header {
    color: #536895;
    font-weight: bold;
    text-transform:uppercase;
    border-bottom: 1px dotted #536895;
    font-size: x-small;    
}