
/* Style the browseby lists with zebra-stripes */
#browsebymain {
    padding: 5px;
}

#browsebymain .list0,
#browsebymain .list1 {
    margin-bottom: 20px;
} 

#browsebymain .list0 li,
#browsebymain .list1 li {
    border-top: 1px solid #EEEEEE;
    padding: 5px;
    margin: 0 10px;
}

#browsebymain .list0 li:nth-child(2n),
#browsebymain .list1 li:nth-child(2n){
    background-color: #F9F9F9;
}

#browsebymain .list0 li:hover,
#browsebymain .list1 li:hover{
    background-color: #F5F5F5;
}

.indicator-form {
    margin-right: 5px;
}

.indicator-block {
    padding: 2px 4px;
}
.indicator-block a:link, 
.indicator-block a:visited{
    color: white;
}

.indicator-active {
    background-color:#25bd00;
}

.indicator-pending {
    background-color:#1a6cf3;
}

.indicator-reject {
    color: red;
}

#ac_input {
    width: 720px;
}
.ac-search-wrapper {
    border: 1px solid #DDD;
    float: left;
}
.ac-search-div {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    float: left;
}
.yui3-aclist-input {
    font-size: 16px;
    color: #555555;
    padding: 6px;
    border: 4px solid #EEE;
}

.yui3-aclist-item {
    border-bottom: 1px solid #EEEEEE;
    font-size: 14px;
    color: #111;
}