/** CSS for Rearrange **/

.ns-list-class .ns-invisible {
    height: 0px;
    border: 0px solid white;
}

.sectiontitle {
    background: transparent url(./uclashared/pix/bgFormHdr.jpg) top left repeat;
    font-weight: bold;
    position: relative;
    display: block;
    border-bottom: 1px solid #989FAD;
    padding: 0px 8px 0px 8px;
}

#major-ns-container ul li {
    display: block;
    list-style: none;
}

.ns-list-class {
    margin: 0 2.0em;
    padding: 0;
    cursor: move;
    list-style: none;
    min-height: 14px;
}

.ns-list-item {
    border: 1px solid #A8A8A8;
    border-left: 10px solid #A8A8A8;
    margin: 2px;
    padding-left: 4px;
    background-color: white;
    list-style: none;
    color: black;
}

.ns-helper {
    border: 1px dashed magenta;
}

.s-list-class {
    padding: 1px;
    margin: 8px;
    list-style: none;
}

.section-item {
    border: 1px solid #A8A8A8;    
    margin: 4px;
    background-color: #FEFCF6;
    padding: 0px 0px 4px 0px;
    list-style: none;
    color: #113A93;
}

.s-list-item {
    cursor: move;
}

.s-helper {
    list-style: none;
}

.expand-button {
    cursor: pointer;
    font-weight: normal;
    margin-right: 4px;
    padding-right: 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.ucla_rearrange_hidden {
    color: #666;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: -1px;
}

.ucla_rearrange_form .fsubmit {
    margin-left: 0 !important;
}

.ucla_rearrange_form .expandall {
    margin-right: 0;
    float: right;
}