//
// CCLE / COURSE / course site
// --------------------------------------------------

// Generic CCLE box with drop shadow and rounded coreners
.ccle-generic-box {
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 4px 8px;
    width: 100%;
    margin-bottom: 8px;
    
    @include box-sizing(border-box);
    @include box-shadow(#ddd 1px 1px 1px);
}

// These are contents of a course
.course-content {
    
    font-size: $type-font-size;
    line-height: $type-line-height;
    
    // Collapse block
    .collapsed {
        @extend .ccle-generic-box;
        
        display: none;
        padding: 8px;
        background-color: #fdfdfd;
        
        @include border-bottom-radius(4px);
        
        &:focus {
            display: block;
        }

    }
    .collapse-hide {
        @extend .ccle-generic-box;
        
        font-size: 1.3rem;
        display: none;
        border-bottom: 0;
        margin-bottom: 0;
        
        @include border-top-radius(4px);
    }
    .collapse-show {
        @extend .ccle-generic-box;

        font-size: 1.3rem;

        @include border-radius(4px);

        // Hide myself
        &:focus {
            display: none;
        }
        // Show collapsed sibling
        &:focus ~ .collapsed {
            display: block;
        }
        // Show hidden 'show' link
        &:focus + .collapse-hide {
            display: block
        }
    }
    .course-summary {
        
    }
    // Course header
    // Contains title 
    > .headingblock {
        // temporary fix for XP/IE8 headers
        // @todo: turn this conversion into a sass function
        font-size: 26px;
        font-size: 2.6rem;
        
        background-color: $ccle-light-blue;
        border: 1px solid $ccle-border-blue;
        color: $ccle-dark-blue;
        padding: 4px 2px;
        
        // Course registrar/crosslist metadata
        > .course-meta  {
            color: scale-lightness($ccle-dark-blue, 35%);
            font-weight: normal;
            // @todo: turn this into a sass function
            font-size: 14px;
            font-size: $type-font-size;
            margin-bottom: 4px;
            
            // Crosslist metadata will be truncated and limited
            // to a single line.  
            @include respond-to(handhelds) {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: $type-line-height;
            }
            
            /// Term and hostcourse will be bolded and darkened
            > .reg-term {
                text-transform: uppercase;
                font-weight: bold;
                color: $ccle-dark-blue;
            }
            > .reg-courses > .reg-hostcourse {
                font-weight: bold;
                color: $ccle-dark-blue;
            }
        }
    }
    
    // Registrar info in the 'site info' summary
    .registrar-info {
        color: scale-lightness($type-font-color, 25%);
        line-height: 1.2;
        border-bottom: 1px solid #ccc;
        padding: 4px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    // Office hours table
    .instr-info {
        margin-top: 10px;
    }
    
    // Put a border around hidden sections
    .hidden .content {
        border: 4px dotted #ccc;
    }
}

// Course search highlight -- yellowish osx-like color used
.summary {
    .highlight {
        border: 1px solid #EBD742;
        background-color: yellow;
        padding: 0 1px;
        
        @include background-image(linear-gradient(top, yellow, #EBD742));
        @include border-radius(4px);
        @include box-shadow(#aaa 1px 2px 2px);
    }
}

// Imported CSS
// --------------------------------------------------


/*.course-content .headingblock.outline {margin-top:0;}
.course-content .section.main {border:1px solid #E3E3E3;margin-bottom:10px;background-color:#FFF;}
.course-content .section.main .content {margin:0 30px 10px 30px;background-color:#FFF;}
.course-content .section.main .content .section_add_menus {text-align:right;}*/

