//
// CCLE / COURSE / editing mode
// --------------------------------------------------

// Edit icons -- This sets up the usual edit icons striped area
.section > .content {
    
    // This is nested list
    & > .section {
        margin: 14px;
        
        // Modify the look of the list
        // --------------------------------------------------
        > li.activity {
            padding: 5px 10px;
            border-top: 1px solid #F5F5F5;
            border-right: 1px solid white;
            clear: right;
            // Fixes clipping errors
            display: inline-block;
            width: 100%;
        }
        > li.activity:nth-child(2n) {
            background-color: #F9F9F9;
        }
        > li.activity:hover {
            background-color: #F5F5F5;
        }
        // Make 'label' resources always display white background
        > li.activity.label:nth-child(2n) {
            background-color: white;
        }
        > li.activity.label:hover {
            background-color: white;
        }
    }
    
    // Add activity/resource bar
    .section-modchooser,
    .section_add_menus {
        background: none repeat scroll 0 0 #F9F9F9;
        box-shadow: 0 5px 5px -6px #999 inset;
        height: 30px;
        margin-bottom: 10px;
        padding: 10px;
        max-width: 960px;
        
        // Add 'call to action' button
        .section-modchooser-text {
            @extend .btn;
            @extend .ccle-action-btn;
        }
        // Remove small icon
        .section-modchooser-link > a > .smallicon {
            display: none;
        }
    }
    
}

// This is an editable activity
li.activity {
    // Add a dashed line to indicate where target will drop
    &.yui3-dd-draggable + &.yui3-dd-drop-active-valid {
        border-top: 2px dashed orange;
    }
    // Style action links
    .mod-indent > a {
        color: #2980b9;
    }
    // 'hidden' items
    .mod-indent > a.dimmed {
        color: #aaa;
    }
    
    span.autocompletion,
    form.togglecompletion {
        float: right;
        padding: 0 4px;
        right: 0;
    }
    // This is the 'edit title' box that's active only onclick
    & > .editinstructions {
        border: 1px solid #FF6666;
        border-left: 5px solid #FF6666;
        background-color: white;
        color: #FF6666;
        font-size: 10pt;
        margin-bottom: 4px;
        display: inline-block;
        width: auto;
    }
    // This is the box that holds content
    & > .mod-indent {
        // Description (visible on option select)
        & > .contentafterlink {
            border: 1px solid #EEEEEE;
            border-left: 5px solid #EEEEEE;
            margin: 5px 20px;
            padding: 0 0 0 15px;
            background-color: #FFFFFF;
            color: #777777;
            clear: right;
        }
        // Add label to pubpriv message
        & > .groupinglabel {
            @extend .ccle-label;
            @extend .ccle-label-publicprivate;
        }
        // Add label to resource info
        & > .resourcelinkdetails {
            @extend .ccle-label;
            @extend .ccle-label-info;
        }
        
        // This is a <span> element that holds icons/text
        & > .commands {
            
            width: 280px;
            float: right;
            margin-right: 20px;
            
            & > .editing_update {
                border-left: 1px solid #DDDDDD;
                padding-left: 8px;
                margin-left: 8px;
            }
            & > .editing_duplicate {
                margin-right: 4px;
            }
            & > .editing_duplicate, 
            & > .editing_makeprivate, 
            & > .editing_makepublic {
                border-right: 1px solid #DDDDDD;
                padding-right: 8px;
                margin-right: 8px;
            }
            & > .editing_delete {
                float: right;
            }
            & > .spinner {
                float: left;
                margin-left: -20px;
                margin-top: 5px;
            }
        }
    }
}

// Text icons overrides
.section.text-icons {
    li.activity {
        & > .mod-indent > .commands {
            float: none;
            width: auto;
            & > a {
                border: none;
                margin-right: 19px;
                margin-left: 0;
                padding: 0;
            }
            & > .editing_delete {
                float: none;
            }
            & > .spinner {
                float: none;
                margin-left: 0;
                margin-top: 5px;
            }
        }
    }
}

/// Ugly but direct override... 
.path-course-view li.activity span.autocompletion, 
.path-course-view li.activity form.togglecompletion {
    float: right;
    padding: 0 4px;
    right: 0;
}


// Add resource or activity modal dialog
// This fixes alignment bugs
.alloptions > .option {
    & > label {
        float: left;
        & > .typename {
            float: right;
            display: inline-block;
            width: 145px;
        }
    }
}

// Another ugly hack to make the edit links 'red'
.safecontrol > a, .safecontrol > a:visited,
.edit_section_showhide > a, .edit_section_showhide > a:visited,
.jit_links a:link, .jit_links a:visited,
span.commands a {
    color: #F66;
}

.edit_section_showhide > a:hover,
.safecontrol > a:hover,
.jit_links a:hover,
span.commands a:hover {
    color: red;
    text-decoration: underline;
}

// Make edit buttons action items
.editbutton > a {
    @extend .btn;
    @extend .btn-small;
    @include ccle-button-action;
    
    margin-right: 10px;
    color: white;
}

// Style the course menu block editing mode
.block_ucla_course_menu .edit_control_links {
    padding-bottom: 4px;

    > a {
        display: inline;
    }
    
    .badge {
        margin-left: 8px;
    }
}
