/*
    Required include for modules
*/
/* 360px is iPhone vertical */
/* 480px is iPhone horizontal */
/* 768px is iPad horizontal */
/* 1024px is iPad vertical */
/* line 7, sass/styles.scss */
#cpanel-wrapper {
  width: 100%;
  /*border: 1px solid #CCC;*/
  float: left;
  /*padding: 5px;*/
  margin-bottom: 20px;
  /*    @include box-shadow(#AAA 0 2px 3px);*/
  /*    & .cpheading {
          padding: 5px;
          text-align: left;
          background-color: $ucla_secondary_orange;
          margin-top: 0;
          color: white;
      }*/
}
/* line 11, sass/styles.scss */
#cpanel-wrapper > .cpheading {
  border-bottom: 1px solid #cccccc;
  font-size: 2.52rem;
  margin-top: 0;
  padding-bottom: 4px;
}
/* line 27, ../../theme/uclashared/sass/_mixins.scss */
#cpanel-wrapper > .cpheading > a {
  font-size: 1.4rem;
  /*@extend .btn;*/
  margin-top: 20px;
}
/* line 30, sass/styles.scss */
#cpanel-wrapper > .cpanel-group {
  width: 100%;
}
/* line 34, sass/styles.scss */
#cpanel-wrapper h2.copan-title {
  padding: 0 5px;
  border-bottom: 1px solid #cccccc;
  font-size: 20px;
  margin-top: 10px;
}
/* line 42, sass/styles.scss */
#cpanel-wrapper .row {
  margin-left: 0;
}
/* line 45, sass/styles.scss */
#cpanel-wrapper .row .item {
  min-height: 50px;
  display: inline-block;
  clear: none;
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 52, sass/styles.scss */
#cpanel-wrapper .row .item > a {
  width: 100%;
  display: block;
  font-size: 16px;
}
/* line 58, sass/styles.scss */
#cpanel-wrapper .row .item .general_icon {
  float: left;
}
/* line 61, sass/styles.scss */
#cpanel-wrapper .row .item .general_icon > a {
  width: 100%;
  display: inline-block;
}
/* line 67, sass/styles.scss */
#cpanel-wrapper .row .item .general_icon_text {
  padding: 10px 50px;
  display: block;
  color: gray;
}
/* line 73, sass/styles.scss */
#cpanel-wrapper .row .item .post-link {
  margin-top: 5px;
  color: gray;
  display: inline-block;
  clear: left;
  width: 100%;
}

/* line 86, sass/styles.scss */
#my_ucla_functions {
  width: 100%;
}
/* line 90, sass/styles.scss */
#my_ucla_functions .generaltable {
  border: 0;
}
/* line 94, sass/styles.scss */
#my_ucla_functions .generaltable .cell {
  padding-left: 10px;
  border: 0;
}
/* line 97, sass/styles.scss */
#my_ucla_functions .generaltable .cell > a {
  width: 100%;
  display: inline-block;
}
/* line 102, sass/styles.scss */
#my_ucla_functions .post-link {
  color: gray;
  display: block;
}
