root { 
    display: block;
}
.crqpaddingbot{ margin-bottom:20px;}
.crqcenterbox{ text-align:center; padding-bottom:20px;}
.crqformodd{border:0px; background:#E3E3EC; padding: 10px;  }
#srsform{border:0px; background:#E3E3EC; padding: 10px; margin:0; float:none; width:auto;}
.mform #srsform .advancedbutton {text-align: inherit; float: none; width:auto;}
.mform #srsform .fitem {clear: none; margin-bottom: 0px; margin-top: 0px; overflow: auto; float: none; width:auto;}
.mform #srsform div {margin-top:0px; margin-bottom:0px; margin-right:0px; margin-left:0px; text-align: left; float: none; width:auto;}
.mform #srsform .fitem .fitemtitle {
    text-align: left; float:none; width:auto;
}

.mform #srsform .fitem fieldset.felement {
    margin-left: 0;
    padding-left: 0;
}

#buildform{border:0px; background:#E3E3EC; padding: 10px; margin:0; float:none; width:auto;}
.mform #buildform .advancedbutton {text-align: inherit; float: none; width:auto;}
.mform #buildform .fitem {clear: none; margin-bottom: 0px; margin-top: 0px; overflow: auto; float: none; width:auto;}
.mform #buildform div {margin-top:0px; margin-bottom:0px; margin-right:0px; margin-left:0px; text-align: left; float: none; width:auto;}
.mform #buildform .fitem .fitemtitle {
    text-align: left; float:none; width:auto;
}

.mform #buildform .fitem fieldset.felement {
    margin-left: 0;
    padding-left: 0;
}

.mform .fitem fieldset.felement {
    margin-left: 0;
    padding-left: 0;
}
.crqformeven{border:0px; background:#D6D6DC; padding: 10px; }
.crqfrmtxtboxodd{display:block; width:inherit; background:#E3E3EC; padding:5px;}
.crqfrmtxtboxeven{display:block; width:inherit; background:#D6D6DC; padding:5px;}
.crqfrmcrosslist{display:block; width:250px; border:1px solid #D6D6DC; padding:10px;
    padding-right:22px;}
.crqerrormsg{display:block; width:inherit; text-align:center; color:red;
    border: 1px solid red; margin:5px; padding:5px; background:white}
.crqtableodd{background:#D6D6DC; padding:5px;}
.crqtableeven{background:#E3E3EC; padding:5px;}
.crqtableunderline{font-size:12px; border-bottom:1px solid #D6D6DC; padding-bottom:2px; padding-top:2px; }
.crqfrmoutput{padding:10px; margin:0 auto;width:800px}
.crqbedlive{background:green; padding:2px; padding-left:6px; padding-right:6px; color:white; margin-left:4px; margin-right:4px;}
.crqbedpreview{background:red; padding:2px; padding-left:6px; padding-right:6px; color:white; margin-left:4px; margin-right:4px;}
.crqbedxlist{background:blue; padding:2px; padding-left:6px; padding-right:6px; color:white; margin-left:4px; margin-right:4px;}

.crqgreenmsg{display:block; width:inherit; text-align:center; color:green;
    border: 1px solid green; margin:5px; padding:5px; background:white}

.crqbluemsg{display:block; width:inherit; text-align:center; color:blue;
    border: 1px solid blue; margin:5px; padding:5px; background:white}


.crqdivclear{display:block; float:left; width:100%; }
.crqdivwrapper{display:block; float:left; }