#mymedia_video_metadata_table.generaltable tr td.mymedia.column.cell {
    border-style: none !important;
    border-color: transparent !important;
    background-color: transparent !important;
}


table#mymedia_video_metadata_table tr {
    vertical-align: top;
}

#simple_search_container {
    float: right;
    margin-left:5px;
}

#upload_btn_container.mymedia.upload.button.container {
    float: left;
    padding-right: 5px;
}

#screenrecorder_btn_container.mymedia.screenrecorder.button.container {
    float: left;
}

#simple_search_container input#clear_simple_search_btn {
    margin-left:5px;
}

#upload_btn, #scr_btn, #simple_search_btn, #clear_simple_search_btn{
    font-size: 1.1em;
}

.yui-skin-sam .yui-panel .ft {
    border-top-style: none;
}

#id_video_details_save {
    font-size: 17px;
}

table#mymedia_vidoes {

    border: 0px none black;
    table-layout:fixed;
    width:700px

}

div#id_video_details_tab.yui3-tabview-content.yui3-widget-content-expanded {
    background-color: rgb(242, 242, 242);
}

/* Below is thanks to http://www.pigslipstick.com/index.php?/archives/241-YUI3-TabView-Skinning.html */

.yui3-widget, .yui3-tabview .yui3-tabview-content .yui3-tabview-list {
    margin-right: 5px;
    border-color: #DDD;
    border-width: 0 0 1px;
}

.yui3-skin-sam .yui3-tab-selected .yui3-tab-label, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:focus, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover {
    /*color: #000000 !important;*/
    color: rgb(242, 242, 242);
    background: #2647A0 url(http://yui.yahooapis.com/3.1.0/build/assets/skins/sam/sprite.png) repeat-x scroll left -100px !important;
    /*background: rgb(242, 242, 242) url(http://yui.yahooapis.com/3.1.0/build/assets/skins/sam/sprite.png) repeat-x scroll left -100px !important;*/
    -x-system-font: none;
    font-family: arial,helvetica,clean,sans-serif;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
.yui3-skin-sam .yui3-tab-label {
    -x-system-font: none;
    font-family: arial,helvetica,clean,sans-serif;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
.yui3-widget, .yui3-tabview .yui3-tabview-content .yui3-tabview-panel {
    /*background: #FFFFFF;*/
    background: rgb(242, 242, 242);
    border-style: none;
/*
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
*/
}

div.mymedia.video.name {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

/* Progress bar */
#progress_bar_container {
    float: left;
}

#slider_border {
    width: 100%;
    height: 18px;
    /*border: 1px solid #000000;*/
    overflow: hidden;
}

#progress_bar {
    float: left;
    height: 18px;
    width: 0%;
    /*border-right: 1px solid #000000;*/
    background: #00FF00;
}

#loading_text {
    position: relative;
    top: -18px;
    font-weight: bold;
    left: -20px;
}

.yui3-tabview-panel #share {
    height:450px; width:490px; overflow:auto;
}

.yui3-tabview-panel #metadata, .yui3-tabview-panel #preview {
    height:450px; width:490px;
}