//
// CCLE / COURSE / control panel
// --------------------------------------------------

@import "uclatheme";

#cpanel-wrapper {
    
    width: 100%;
    
    & > .cpheading {
        @include ccle-admin-header;
    }
    
    /*border: 1px solid #CCC;*/
    float: left;
    /*padding: 5px;*/
    margin-bottom: 20px;
/*    @include box-shadow(#AAA 0 2px 3px);*/
    
    // Main header
/*    & .cpheading {
        padding: 5px;
        text-align: left;
        background-color: $ucla_secondary_orange;
        margin-top: 0;
        color: white;
    }*/
    
    & > .cpanel-group {
        width: 100%;
    }
    // Subsections
    h2.copan-title {
        padding: 0 5px;
        border-bottom: 1px solid #CCC;
        font-size: 20px;
        margin-top: 10px;
    }
    
    // Affects all rows
    .row {
        margin-left: 0;

        .item {
            min-height: 50px;
            display : inline-block;
            clear : none;
            padding: 5px 20px;
            @include box-sizing(border-box);
            
            & > a {
                width: 100%;
                display: block;
                font-size: 16px;
            }
            
            .general_icon {
                float: left;
                
                > a {
                    width: 100%;
                    display: inline-block;
                }
            }
            
            .general_icon_text {
                padding: 10px 50px;
                display: block;
                color: gray;
            }
            
            .post-link {
                margin-top: 5px;
                color: gray;
                display: inline-block;
                clear: left;
                width: 100%;
            }
        }
        
    }
}
        
// Styles for 'MyUCLA functions'
#my_ucla_functions {
    width: 100%;

    // Remove borders from table
    .generaltable {
        border: 0;
    }
    // Make links in cell 100% clickable
    .generaltable .cell {
        padding-left: 10px;
        border: 0;
        & > a {
            width: 100%;
            display: inline-block;
        }
    }
    .post-link {
        color: gray;
        display: block;
    }
}
