//
// FORM
// --------------------------------------------------

@import "bootstrap/lib/forms";

// 
// Boostrap love
// --------------------------------------------------

// Modify default boostrap:
//      * remove focus glow
//      * remove inset shadow
//      * makes border wider
.form-control {
    width: auto;
    border: 2px solid #ddd;
    display: inline;
    margin-right: 8px;
    
    @include box-shadow(inset 0 0 0 rgba(0,0,0,.075));
    @include transition(border-color ease-in-out .15s);
    
    &:focus {
        @include box-shadow(0 0 0 rgba(0,0,0,.075));
    }
}

// A slightly smaller input form.
.input-xs {
    height: 29px;
}

// Moodle overrides
// --------------------------------------------------

$ccle-form-border-focus: #f5ac23;
$ccle-form-error-color: #D44950;

label {
    font-weight: normal;
}

input {
    font-family: $type-font-family;
}

// Make everything look like Bootstrap forms!!
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    @extend .form-control;
}

/// Moodle forms love
.mform {
    
    legend {
        font-weight: normal;
        
        a, a:link, a:hover {
            color: $type-font-color;
            text-decoration: none;
            font-weight: normal;
        }
    }
    
    fieldset {
        @extend fieldset;
        
        // Date selector needs to display inline
        &.fdate_selector {
            > select {display: inline;}
        }
    }
    
    // Cancel buttons display as links
    .btn-cancel {
        border: 0;
    }
    
    // Required fields get some extra attention
    .required {
        label {
            color: #D44950;
        }
        .error {
            .error {
                @extend .label-bstp;
                @extend .label-danger;
                
                margin: 8px;
                display: inline-block !important;
                text-transform: lowercase;
            }
            
            & + input[type="text"] {
                border-color: $ccle-form-error-color;
                float: left;
            }
           
            > br {
                display: none;
            }
        }
    }
}

// Filter forms (Enrolled users)
// This flattens out the form
#page-enrol-users {

    .enrol_user_buttons {
        margin: 8px 0;
    }
    #filterform {
        margin: 8px 0;

        fieldset > div {
            float: left;
            width: 100%;
            background-color: white;
        }
        .fitem, .fitemtitle, .felement {
            float: left;
            margin-right: 8px;
        }
    }
}

.form-shortname {
    color: #999;
}

// CCLE-4268 - removing negative margin on quiz form checkboxes
#categoryquestions {
    .checkbox {
        input[type="checkbox"] {
            margin-left: 0;
        }
    }
}

/// hackey way to fix the add resource modal

#chooseform .instruction,
#chooseform .typesummary,
.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd {
    font-size: $type-font-size;
    line-height: 2rem;
}
