//
// Glyphicons for Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>


// Mangle these vars to load fonts the Moodlerific way
$icon-font-path:    "[[" + "font:";
$icon-font-name: $icon-font-name + "]]";

// After we override the vars, load from Bootstrap
@import "bootstrap/lib/glyphicons";
