//
// PROGRESS BARS
// --------------------------------------------------

@import "bootstrap/lib/progress-bars";


// Modify the drag & drop display
// --------------------------------------------------

.dndupload-preview {
    margin: 8px;
    border: 4px dashed #ddd;
    background-color: #efefef;
    height: 100px;
    width: 100%;
    
    @include border-radius(8px);
    
    .mod-indent {
        text-align: center;
        vertical-align: center;

        img {
            display: none;
        }
        .instancename {
            display: inline-block;
            margin-top: 20px;
            font-size: 2.5rem;
            font-weight: bold;
            text-shadow: 0px 2px 3px #fff;

            &:before {
                content: "+";
                font-weight: bold;
                font-size: 3.2rem;
                margin-right: 8px;
            }
        }
    }
}

/// Modify the progress bar
// --------------------------------------------------

.dndupload-progress-outer {
    @extend .progress;
    @extend .progress-striped;
    @extend .active;
    
    margin-top: 8px;
    width: 100%;
    border-color: #ddd;
}
.dndupload-progress-inner {
    @extend .progress-bar;
}