//
// TABLE
// --------------------------------------------------

@import "bootstrap/lib/tables";

// General tables
// --------------------------------------------------

// Propagate bootstrap table styles
.generaltable,
.path-mod-forum .forumheaderlist,
.userenrolment {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    
}

// Use darker headers to match current CCLE style
table {
    thead {
        background-color: #EFEFEF;
        color: #222;
    }
}

// @todo: integrate mysites into SASS
// This is required to override the header of Mysites table.. arr
.block_ucla_my_sites.block .content .header {
    background-color: #EFEFEF;
}



// Office hours table
// --------------------------------------------------

// This will align the columns
.office-hours-table {
    // Target the instructor column
    tbody tr td:first-child:not([data-content=""]) {
        width: 30%;
        
        // Responsive fix
        @include respond-to(wide-handhelds) {
            width: auto;
        }
    }
    // Target the update button
    tbody tr td:first-child[data-content=""] {
        width: 5%;
        
        // Responsive fix
        @include respond-to(wide-handhelds) {
            width: auto;
        }
    }
    // Target the instructor column in editing mode
    tbody tr td:first-child[data-content=""] + td {
        width: 30%;
        
        // Responsive fix
        @include respond-to(wide-handhelds) {
            width: auto;
        }
    }
    // Target email column
    tbody tr td[data-content="Email"] {
        width: 25%;
        
        // Responsive fix
        @include respond-to(wide-handhelds) {
            width: auto;
        }
    }
    // Everything else can adjust on its own...
    tbody tr td {
        width: auto;
    }
}

// Responsive fixes
// --------------------------------------------------

@media only screen and (max-width: $breakpoint-xsmall),
only screen and (min-width: $breakpoint-xsmall) and (max-width: $breakpoint-medium-small) {
    // By default this is set to 50%, but on small displays we want 100% width
    // Important to use box-sizing: border-box in order to account for margins
    .boxwidthnormal {
        @include box-sizing(border-box);
        width: 100%;
    }
}


// Responsive collapseable tables
// This table will reflow the table data and condense a row into column
// -- it relies on a 'data-responsive' attribute to be able to repeat 
// -- column header titles
// --------------------------------------------------
.ccle-responsive-table-collapse,
.instr-info > table.generaltable {
    width: 100%; 
    border-collapse: collapse;
}

// Responsive tables for mobile & tablet
@media only screen and (max-width: $breakpoint-xsmall),
only screen and (min-width: $breakpoint-xsmall) and (max-width: $breakpoint-medium-small) {
    
    .ccle-responsive-table-collapse {
        display: block;
    }
    .ccle-responsive-table-collapse,
    .instr-info > table {
        display: block;
        
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
            word-wrap: break-word;
        }
        // Hide the table header
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;

        }
        tr {
            border-left: 1px solid #ccc;
        }
        td.cell {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 45%; 
            height: auto;
            min-height: 15px;
            
            &:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
                font-weight: bold;
            }
        }
        
        // This will display table heading..
        @for $i from 1 through 10 {
            td:nth-of-type(#{$i}):before {content: attr(data-content);}
        }

    }
}


// Responsive scrollable tables
// This is only implemented for userenrollment table
// --------------------------------------------------

@media only screen and (max-width: $breakpoint-xsmall),
only screen and (min-width: $breakpoint-xsmall) and (max-width: $breakpoint-medium-small) {

    $ccle-userenrollment-row-height:    30px;
    $ccle-userenrollment-row-width:     200px;
    
    .userenrolment { 
        display: block; 
        position: relative; 
        width: 100%; 
    }
    .userenrolment thead { 
        display: block; 
        float: left; 
    }
    .userenrolment tbody { 
        display: block; 
        width: auto; 
        position: relative; 
        overflow-x: auto; 
        white-space: nowrap; 
    }
    .userenrolment thead tr { 
        display: block; 
    }
    .userenrolment tbody tr { 
        display: inline-block; 
        vertical-align: top; 
        border-right: 1px solid #ccc;
        /*width: $ccle-userenrollment-row-width;*/
    }
    .userenrolment th { 
        display: block; 
        max-width: 135px; 
        border: 1px solid #ccc; 
        height: $ccle-userenrollment-row-height;
        max-height: $ccle-userenrollment-row-height;
    }
    .userenrolment td { 
        display: block; 
        border-left: 0; 
        border-right: 0;
        max-height: $ccle-userenrollment-row-height;
        width: auto;
    }
    .userenrolment td:first-child {
        border-top: 0;
    }
    .userenrolment td.col_userdetails,
    .userenrolment th.col_userdetails {
        min-height: 70px;
    }
    .userenrolment .col_lastseen,
    .userenrolment .col_role { 
        width: auto; 
    }
}

@media only screen and (max-width: $breakpoint-xsmall) {
    .userenrolment th {
        max-width: 90px;
        padding: 4px;
        overflow: hidden;
    }
    .userenrolment td {
        padding: 4px;
    }
    .userenrolment td.col_userdetails,
    .userenrolment th.col_userdetails {
        min-height: 125px;
    }
}

// Imported CSS
// --------------------------------------------------

table.rolecap {margin-left: auto;margin-right: auto;}
table.rolecap tr.rolecap th {text-align: left;font-weight: normal;}
.rolecaps th {
    color: black !important;
}

// ----------

/*.generaltable {border:1px solid #DDD;}
.generaltable .cell {background-color:#FFF;border:1px solid #EEE;border-collapse: collapse;}
.generaltable .header {background-color:#EEE;border:1px solid #EEE;font-weight:bold;}*/

// -------------


/* CCLE-2909 - Browser cutting off tables with many columns */
#attemptsform .no-overflow, #page-admin-roles-allow #page-content .region-content,
#page-admin-tool-uclasupportconsole-index .region-content,
#page-admin-uclacourserequestor .region-content {
    overflow:auto;
}

.groupmanagementtable {width: 90%;}
.groupmanagementtable td {vertical-align: top; border-width: 0px;}
.groupmanagementtable td p {margin: 0px;}

