.course-content ul.topics {
    margin: 0;
}

.course-content ul.topics li.section {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    border: 0;
}

.course-content ul.topics li.section .content .defsection {
    font-style: italic;
    color: gray;
}

.course-content ul.topics li.section .content {
    margin: 0 40px 0 40px;
}

.course-content ul.topics li.section .content .sectionname {
    margin: 0;
}

.course-content ul.topics li.section.hidden {
    background-color: #C0C0C0;
}

.course-content ul.topics li.section .left {
    width: 40px;
    float: left;
    text-align: center;
    /* display: none; */
}

.course-content ul.topics li.section .right {
    width: 40px;
    float: right;
    text-align: left;
    /* display: none; */
}

.course-content ul.topics li.section .content .registrar-info {
    color: gray;
    font-weight: bold;
}

.course-content ul.topics li.section .content p {
    margin: 1em 0;
}

.jumpmenu {
    text-align: center;
}

.coursecancelled {
    text-align: center;
}

.course_text_cancelled {
    text-decoration: line-through;
}

/* stlying for instructors/tas contact listing and office hours */
.instr-info table {
    margin-top: 10px;
    border: 1px solid #CCC;
    width: 100%;    
    line-height: 0.9em;
}

.instr-info table thead {
    font-size: 1.2em;
    padding-right: 15px;
    background: #EFEFEF;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;    
    color: #666;
}

.instr-info .r0 {
    background-color: #F7F7F7;
}

.instr-info .r1 {
    background-color: white;
}