.course-content .section.main .left.side {
    visibility:hidden;
    float: left;
    width: 0px !important;
    padding: 0px !important;
}
.course-content .section.main .left.side .accesshide {visibility:visible;}
.course-content .section.main .left.side a {visibility:visible;}

.course-content ul.topics {
    margin: 0;
}

.course-content ul.topics li.section {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    border: 0;
}

.course-content ul.topics li.section.hidden {
    background-color: #C0C0C0;
}

.course-content ul.topics li.section .content {
    margin: 0;
    padding: 5px 8px 5px 8px;
}

.course-content ul.topics li.section .content .editbutton a {
    margin: 0;
}

/* red editing link styling (try to keep colors consistent */
a.editing-link:link,
a.editing-link:visited,
.course-content ul.topics li.section .content .editbutton a,
.sectionheader .right.side a,
.sectionheader .right.side span,
.jit_links a:link, .jit_links a:visited,
span.commands a {
    color: #F66;
}
a.editing-link:hover,
.course-content ul.topics li.section .content .editbutton a:hover,
.sectionheader .right.side a:hover,
.sectionheader .right.side span:hover,
.jit_links a:hover,
span.commands a:hover {
    color: red;
    text-decoration: underline;
}

.course-content ul.topics li.section .content.editing {
    margin: 0 0 0 20px;
}

.course-content ul.topics li.section .content .registrar-info {
    color: gray;
    font-weight: bold;
}

.course-content ul.topics li.section .content .defsection {
    font-style: italic;
    color: gray;
}

.course-content ul.topics li.section .content .sectionname {
    margin: 0;
}

.course-content ul.topics li.section .content .section_add_menus {
    padding-right: 2px;
}

.course-content ul.topics li.section .left {
    width: 40px;
    float: left;
    text-align: center;
    /* display: none; */
}

.course-content ul.topics li.section .right {
    float: none;
    text-align: left;
    display: inline;
    padding-left: 18px;
}

.course-content ul.topics li.section .right div {
    display: inline;
    padding: 0 2px 0 8px;
}

.course-content ul.topics li.section .content p {
    margin: 1em 0;
}

.course-content ul.topics li.section .sectionheader {
    border-bottom: 1px solid #ABBAD1;
}

.course-content ul.topics li.section .sectionheader h2 {
    display: inline;
}

.course-content ul.topics li.section .sectionheader div span {
    margin-right: 2px;
}

.course-content ul.topics li.section .sectionheader div span a,
.course-content ul.topics li.section .sectionheader div a,
.course-content ul.topics li.section .sectionheader div div {
    padding-left: 8px;
}

.course-content ul.topics li.section .sectionheader div div img.no-editing-icons {
    display:none;
}

.section .groupinglabel {
    color: #666666;
}

.section .content h2 .hidden {
    color: #666666;
    padding-left: 4px;
}

.jumpmenu {
    text-align: center;
}

.coursecancelled {
    text-align: center;
}

.course_text_cancelled {
    text-decoration: line-through;
}

/* START feature/CCLE-2800 JIT controls */
.jit_links {
    margin-top: 2px;
    padding-left: 42px;
    background: url([[pix:theme|jit_links]]) 8px 1px no-repeat;
    display: inline;
    position: relative;
    clear: both;
}
.jit_links a {
    margin-right: 10px;
}
/* END feature/CCLE-2800 JIT controls */

/* CCLE-3069 - Convert icons for "Turn editing on" into text */
.mod-indent span.commands { display: block;float: right; }
span.commands a {margin-right: 10px;}
span.commands a img.no-editing-icons {
    display: none;
}