/**
 * Styles for UCLA stats console
 *
 * @package    report
 * @subpackage uclastats
 * @copyright  UC Regents
 */

.uclastats-report-list {
    float: right;
    min-width: 200px;
}

#page-admin-report-uclastats-view .run-form {
    width: 65%;
}

.cached-results-table .current-result .cell {
    background-color: #FFB300 !important;
}

.cached-results-table .locked {
    font-weight: bold;
}

.cached-results-table .editing_links a {
    margin-left: 19px;
}

.cached-results-table .edit {
    color: #FF6666;
}

#page-admin-report-uclastats-view .parameters {
    background: #FEFCF6;
    border: 1px solid #B7AA96;
    padding: 0.5em;
    width: 65%;
}
