
.block-ucla-search div.content {
    padding: 0;
}

.as-collab-checkbox {
    padding: 5px;
}
.as-collab-checkbox label {
    margin-left: 5px;
}

#advanced-search {
    width: 158px;
}

#as-search-wrapper {
    border: 1px solid #D1DBEF;
    float: left;
    width: 100%;
}

/* YUI OVERRIDES */

#as-search-wrapper .yui3-aclist {
    display: block;
    float: left;
    position: relative !important;
    clear: both;
}

#as-search-wrapper div.yui3-aclist-content {
    box-shadow: 0px 0px 0px 0px #ccc;
    border: 0;
}

#as-search-wrapper .yui3-aclist-input {
    font-size: 14px;
    color: #555555;
    padding: 6px;
    border: 4px solid #DFE7F4;
}

#as-search-wrapper .yui3-aclist-item {
    border-bottom: 1px solid #D1DBEF;
    padding: 0;
}

#as-search-wrapper .yui3-highlight {
    background-color: #FF0;
}

#as-search-wrapper .yui3-aclist-item-active .yui3-highlight {
    background-color: #1a6cf3;
}

/* SEARCH TEMPLATE STYLES */

#as-search-wrapper .as-search-result {
    padding: 5px;
    margin: 0;
}
#as-search-wrapper .as-search-result-shortname {
    font-size: 10pt;
    font-weight: bold;
}
#as-search-wrapper .as-search-result-fullname {
    line-height: 10pt;
}
#as-search-wrapper .as-search-result-summary {
    line-height: 9pt;
    font-size: 9pt;
    color: #555555;
    padding-top: 4px;
}
#as-search-wrapper .yui3-aclist-item-active .as-search-result-summary {
    color: #D1DBEF;
}