//
// ALERTS
// --------------------------------------------------

// CCLE alerts should share these characteristics
@mixin ccle-alert-box {
    
    // Inherit from Bootstrap
    @extend .alert;

    // Make text more distinctive
    font-size: $type-font-size * 1.1;
    color: #394A6E;
    
    // Adjust so that box is always centerd
    margin: 20px 15%;
    padding: 8px 14px;
    width: auto;
    
    // Adjust for smaller screens
    @include respond-to(handhelds) {
        // Adjust box to fill in more screen space
        margin: 20px 5%;
        
        // Resize buttons to be mobile friendly
        form input {
            width: 100%;
            margin-top: 5px;
        }
    }
}

.alert {
    @include ccle-alert-box;
}

#uclacourserequestor_notice {
    color: #394A6E;
}

// Syllabus alertbox
// --------------------------------------------------

// This also normalizes the form so that it doesn't look out of place
.ucla-format-notice-box {
    // This will use the 'info' clor
    @include ccle-alert-box;
    @extend .alert-info;

    // Remove box shadow
    // @todo: remove in original styles.css
    box-shadow: 0 0 0;

    // Padding to suppress the form styles
    padding: 8px 8px;
    
    & > .ucla-syllabus-alert-form,
    & > .ucla-copyright-status-alert-form {
        
        & > fieldset {
            margin-top: 10px;
            padding: 0;
            
            // Add action button
            input[name="yesbutton"] {
                @include ccle-button-action;
            }
        }
    }
    
    // Form fix
    & > .mform .fitem fieldset.felement {
        @include box-sizing(border-box);
        width: 100%;
        margin: 0;
        text-align: right;
    }
}

// Target general boxes
// --------------------------------------------------

#notice,
#notice.generalbox,
.notifysuccess,
.box.errorbox,
.box.noticebox,
.notifyproblem {
    @include ccle-alert-box;
}

.box.errorbox,
.notifyproblem {
    @extend .alert-danger;
    color: #CC0000;
}

.notifysuccess {
    @extend .alert-success;
}

// Target notices
// --------------------------------------------------

.box.notice_nonenrolled_users {
    @include ccle-alert-box;
}

.box.notice_nonenrolled_users > .continuebutton {
    margin-top: 20px;
    
    & input[type="submit"] {
        @include ccle-button-action;
    }
}