//
// ALERTS
// --------------------------------------------------

// CCLE alerts should share these characteristics
@mixin ccle-alert-box {
    font-size: $type-font-size * 1.1;
    color: #394A6E;
    margin: 20px 15%;
}

#uclacourserequestor_notice {
    color: #394A6E;
}

// Syllabus alertbox
// --------------------------------------------------

// This also normalizes the form so that it doesn't look out of place
.ucla-format-notice-box {
    @extend .alert;
    @extend .alert-info;
    @include ccle-alert-box;
    box-shadow: 0 0 0;

    // Padding to suppress the form styles
    padding: 8px 8px;
    
    & > .ucla-syllabus-alert-form,
    & > .ucla-copyright-status-alert-form {
        
        & > fieldset {
            margin-top: 10px;
            padding: 0;
            
            // Add action button
            input[name="yesbutton"] {
                @include ccle-button-action;
            }
        }
    }
    
    // Form fix
    & > .mform .fitem fieldset.felement {
        @include box-sizing(border-box);
        width: 100%;
        margin: 0;
        text-align: right;
    }
}

// Target general boxes
// --------------------------------------------------

#notice,
.notifysuccess,
.box.errorbox,
.box.noticebox {
    @extend .alert;
    @include ccle-alert-box;
}

.box.errorbox {
    @extend .alert-danger;
    color: #CC0000;
}

.notifysuccess {
    @extend .alert-success;
}

// Target notices
// --------------------------------------------------

.box.notice_nonenrolled_users,
.box.notice_oldcourse {
    @extend .alert;
    @include ccle-alert-box;
}
.box.notice_nonenrolled_users > .continuebutton {
    margin-top: 20px;
    
    & input[type="submit"] {
        @include ccle-button-action;
    }
}