//
// Labels and badges
// --------------------------------------------------


// Base classes
.ccle-label,
.badge {
  font-size: $baseFontSize * .846;
  font-weight: bold;
  line-height: 14px; // ensure proper line-height if floated
  color: $white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  background-color: $grayLight;
}
// Set unique padding and border-radii
.ccle-label {
  padding: 1px 4px 2px;
  @include border-radius(3px);
}
.badge {
  padding: 1px 9px 2px;
  @include border-radius(9px);
}

// Hover state, but only for links
a {
  &.ccle-label:hover,
  &.ccle-label:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}

// Colors
// Only give background-color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)
// Important (red)
.ccle-label-important, .badge-important              { background-color: $errorText; }
.ccle-label-important[href], .badge-important[href]  { background-color: darken($errorText, 10%); }
// Warnings (orange)
.ccle-label-warning, .badge-warning                  { background-color: $orange; }
.ccle-label-warning[href], .badge-warning[href]      { background-color: darken($orange, 10%); }
// Success (green)
.ccle-label-success, .badge-success                  { background-color: $successText; }
.ccle-label-success[href], .badge-success[href]      { background-color: darken($successText, 10%); }
// Info (turquoise)
.ccle-label-info, .badge-info                        { background-color: $infoText; }
.ccle-label-info[href], .badge-info[href]            { background-color: darken($infoText, 10%); }
// Inverse (black)
.ccle-label-inverse, .badge-inverse                  { background-color: $grayDark; }
.ccle-label-inverse[href], .badge-inverse[href]      { background-color: darken($grayDark, 10%); }

// Quick fix for labels/badges in buttons
.btn {
  .ccle-label,
  .badge {
    position: relative;
    top: -1px;
  }
}
.btn-mini {
  .ccle-label,
  .badge {
    top: 0;
  }
}

// CCLE labels
// --------------------------------------------------

.ccle-label-publicprivate {
    background-color: scale-lightness($ccle-light-blue, 75%);
    color: $ccle-dark-blue;
    text-shadow: 0 0px 2px rgba(0,0,0,.15);
    font-weight: normal;
}
