//
// MIXINS
// --------------------------------------------------

// Define mixins here

// CCLE admin header
// --------------------------------------------------

// Defines how all CCLE admin page headers should look like
@mixin ccle-admin-header {

    border-bottom: 1px solid #ccc;
    font-size: $type-font-size * 1.8;
    margin-top: 0;
    padding-bottom: 4px;
    
    & > a {
        font-size: $type-font-size;
        @extend .btn;
        
        margin-top: 20px;
    }

}

// Action buttons
// --------------------------------------------------

@mixin ccle-button-action {
    @extend .btn-success;
}

@mixin ccle-form-commit {
    @include buttonBackground(#2ecc71, #27ae60);
}

@mixin ccle-form-cancel {
    @include buttonBackground(#e74c3c, #c0392b);
}

@mixin ccle-form-defer {
    @include buttonBackground(#95a5a6, #7f8c8d);
}

@mixin ccle-form-neutral {
    
}

// Responsive on-demand
// --------------------------------------------------

// Useful mixin to generate on demand responsive design changes
// NOTE: This is buggy when using @extend inside block you're modifying
@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $breakpoint-xsmall) { @content; }
    }
    @else if $media == wide-handhelds {
        @media only screen and (max-width: $breakpoint-xsmall) { @content; }
        @media only screen and (min-width: $breakpoint-xsmall) and (max-width: $breakpoint-medium-small) { @content; }
    }
    @else if $media == tablets {
        @media only screen and (min-width: $breakpoint-medium-small) and (max-width: $breakpoint-medium - 1) { @content; }
    }
}


// Typography mixins
// --------------------------------------------------

// Defines how all CCLE typography should look
// @todo: define these from variables

@mixin ccle-typography-h1 {
    font-size: 3.1rem;
    font-weight: 900;
    line-height: 3.9rem;
}
@mixin ccle-typography-h2 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.9rem;
}
@mixin ccle-typography-h3 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 3.9rem;
}
@mixin ccle-typography-h4 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.9rem;
}
@mixin ccle-typography-h5 {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.9rem;
}
@mixin ccle-typography-h6 {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.9rem;
}
