// TYPE

// We're going to use rem units, so all type will 
// be relative to this size
// http://snook.ca/archives/html_and_css/font-size-with-rem
html {
    font-size: 62.5%;
}

// Make overall color slightly lighter than black
body {
    color: $type-font-color;
}

// Fix font size for tables
table {
    font-size: $type-font-size;
}

#settingsnav hr {
    margin: 10px 0;
}

// A more refined typography style.
// Right now only available if used with ccle-typography class
.ccle-typography {

    & h1 {
        @include ccle-typography-h1;
    }

    & h2 {
        @include ccle-typography-h2;
    }

    & h3 {
        @include ccle-typography-h3;
    }

    & h4 {
        @include ccle-typography-h4;
    }

    & h5 {
        @include ccle-typography-h5;
    }

    & h6 {
        @include ccle-typography-h6;
    }
}

#intro.generalbox {
    @extend .well;
    @extend .well-small;
    
    margin-top: 0;
}
